[2019-01-25 12:39] danjenkins opened #7 "Mic audio isn't given to the app when answered using connection service"
But if I answer within the app, its fine.

I set the active flag when the call gets answered.

Will have a look into this today/next week - just wanted to raise it as an issue

[2019-01-25 15:01] grit96 commented on #7
I experience the same issue on my Samsung S8, but not on my Pixel 2.

[2019-01-28 15:32] danjenkins commented on #7
@grit96 oh interesting! Ive been testing it on an s8 - I have a pixel 2 XL I can test with too

[2019-01-28 17:42] danjenkins commented on #7
I can confirm @grit96 's findings - will have a look into why it doesnt work on the s8

[2019-02-12 02:58] carlmagumpara opened #15 "wrong package import if you use react native link"
import com.wazo.callkeep.RNCallKeepPackage;
to
import io.wazo.callkeep.RNCallKeepPackage;

[2019-02-12 12:06] bmp123 opened #16 "PhoneAccount connection service requires BIND_TELECOM_CONNECTION_SERVICE permission"
I can't start my app with this error PhoneAccount connection service requires BIND_TELECOM_CONNECTION_SERVICE permission. I get all permissions. How can I fix it?

[2019-02-12 12:51] bmp123 commented on #16
`2019-02-12 17:50:02.248 14751-14820/com.onlinepbx E/unknown:ReactNative: Exception in native call
    java.lang.SecurityException: PhoneAccount connection service requires BIND_TELECOM_CONNECTION_SERVICE permission.
        at android.os.Parcel.createException(Parcel.java:1950)
        at android.os.Parcel.readException(Parcel.java:1918)
        at android.os.Parcel.readException(Parcel.java:1868

[2019-02-12 13:46] manuquentin commented on #16
Hi @bmp123,
Please follow this step in the installation documentation: https://github.com/wazo-pbx/react-native-callkeep/blob/master/docs/android-installation.md#android-common-step-installation

[2019-02-12 16:38] #15 closed

[2019-02-13 05:33] bmp123 commented on #16
@manuquentin Hi, thank you for your answer. I do all from android installing documentation, but always have this error... What it's mean? Maybe you know another steps to fix it?

[2019-02-14 05:51] bmp123 commented on #16
buildToolsVersion = "26.0.2"
minSdkVersion = 21
compileSdkVersion = 26
targetSdkVersion = 26
supportLibVersion = "27.1.1"
Android: 9 Pie

[2019-02-14 11:46] bmp123 commented on #16
it's work only in production build

[2019-02-14 12:56] manuquentin commented on #16
Hi @bmp123,
You can take a look at [our demo](https://github.com/wazo-pbx/wazo-react-native-demo) and check what's different from your configuration.

[2019-02-15 02:24] sachalegrand opened #20 "Small issue in android auto-linking"
Not a big deal, but when running
`react-native link react-native-callkeep`

We get
`import com.wazo.callkeep.RNCallKeepPackage;`
instead of
`import io.wazo.callkeep.RNCallKeepPackage;`
 in our MainApplication.java

This prevents from building the app on android.

[2019-02-15 02:25] #20 closed

[2019-02-18 06:21] bmp123 commented on #16
Hi, close this issue. now it's works for me.

[2019-02-18 06:21] #16 closed

[2019-02-18 06:32] bmp123 opened #21 "Show custom UI after answer call on android and how can I call from phone history?"
Hello. Can I show custom ui after answer call like in ios if app in background or killed?

[2019-02-18 13:17] manuquentin commented on #21
Hello,
If the app is killed on ios, you can use PushKit ([see this library](https://github.com/ianlin/react-native-voip-push-notification)) to wake up the phone. On the phone can we woken up via a certain type of notification:  data message, cf: https://rnfirebase.io/docs/v5.x.x/messaging/receiving-messages#4)-(Optional)(Android-only)-Listen-for-FCM-messages-in-the-background.

When the app is in

[2019-02-18 13:19] carlmagumpara opened #22 "RNCallKeep.endAllCalls() not working"
RNCallKeep.endAllCalls() not working

[2019-02-18 13:22] manuquentin commented on #22
Hello @carlmagumpara !

`It's not working` is something we doesn't to head a developers :D especially when no context is given.

Can you post a little piece of the code that doesn't work ? Have you used the same `uuid` in the `startCall` method ? Have you checked [our demo](https://github.com/wazo-pbx/wazo-react-native-demo) to see how it's implemented ?

Regards,
Emmanuel

[2019-02-18 13:28] carlmagumpara commented on #22
hi im using action in websocket to stop the call but the displaycall still showing i check the uuid and its correct,

[2019-02-18 13:29] carlmagumpara commented on #22
im also using RNCallKeep.endAllCalls() but no luck

[2019-02-18 13:30] carlmagumpara commented on #22
<img width="759" alt="screen shot 2019-02-18 at 9 29 44 pm" src="https://user-images.githubusercontent.com/14119484/52954183-75888a80-33c4-11e9-8ba3-2e55caccbe56.png">

[2019-02-19 14:35] neo125874 opened #23 "phone account enable issue"
Trying to do
`RNCallKeep.displayIncomingCall`

but always popup the Permission required,
what's the phone account enable mean?

using ASUS (Android 7.0) dual-sim device with 1 sim-card,

any suggestion? thanks.

[2019-02-20 03:51] neo125874 commented on #23
@manuquentin problem solved, because of the device manufacture like ASUS that didn't have the UI to open to activate the phoneAccount.

And thanks for the lib, helps a lot!

[2019-02-20 03:52] #23 closed

[2019-02-21 11:37] grit96 commented on #21
AFAIK, unless you go down the [self-managed ConnectionService](https://developer.android.com/guide/topics/connectivity/telecom/selfManaged) route (which requires you to implement your own incoming call UI), there is no way to show a custom UI after answering on Android.

You may be able to launch the app from the `answerCall` listener using something like https://www.npmjs.com/package/react-native

[2019-02-25 08:21] bmp123 commented on #21
@manuquentin thank you for your answer. But I don't how can I add a field with my app name to native android contacts (like a call through whatsapp) and how can I handle this in my app.

[2019-02-27 08:08] tuledev commented on #15
Thank you very much

[2019-03-02 18:21] 7ameed opened #25 "call failed screen appears after accepting the call"
i receive voip notifications and callkit incoming call ui appears but after answering a call failed screen appears then restart the app

[2019-03-06 14:05] krajay015 opened #26 "bug: RNCallKeep.endCall(uuid) is not disconnecting the call"
I'm integerating my app with `react-native-pjsip` library and I've used `react-native-callkeep` for call-kit handeling. When remote user hangup the call then my `react-native-pjsip`'s endpoint method notify me to terminate the call so I'm calling `RNCallKeep.endCall(uuid)` but it's not disconnecting the call from my screen

**Debug:** I've thought that maybe `RNCallKeep.endCall` and `RNCallKeep.st

[2019-03-13 10:22] saadqbal opened #27 "Show Incoming call on notification received - Paid task"
Hi there,

Are you guys available for a paid task?

Please contact me: hiappstudio at gmail dot com

[2019-03-13 10:34] sboily commented on #27
Hello, sorry we don't provide development services. We are only focus on our products.

[2019-03-13 10:34] #27 closed

[2019-03-13 10:39] anhtukhtn opened #28 "`displayIncomingCall` display name without space"
I can display coming call successfully. But in iOS, the caller name display without any space. Android works fine

[2019-03-13 10:44] anhtukhtn commented on #28
My bad, I just used handle.
Using `localizedCallerName` for iOS is the right.

[2019-03-13 10:44] #28 closed

[2019-03-14 15:50] wilau2 commented on #26
I receive undefined on this event:
[code]

[2019-03-14 17:38] manuquentin commented on #26
Hi @krajay015
We don't seen any issues with `endCall` recently on our app. Can you check [our demo](https://github.com/wazo-pbx/wazo-react-native-demo) and see what's different from your configuration ?

Regards,
Emmanuel

[2019-03-15 09:06] krajay015 commented on #26
Hi @manuquentin
I've gone through the demo and I'm using the same configuration as given in Demo. Everything is working fine with RNCallkeep other than remote hangup. After remote hangup, I'm calling `RNCallKeep.endCall(_uuid)` but it's not invoking `RNCallKeep.addEventListener('endCall', this.onEndCallAction)`. That's the only problem I'm facing with callKeep.

Thanks,
**Ajay Kumar**

[2019-03-19 10:29] bob76828 opened #29 "Please fix iOS Yellow box warning RNCallKit requires main queue setup since it overrides `init`"
Reference https://github.com/ianlin/react-native-callkit/pull/63

[2019-03-19 12:11] manuquentin commented on #29
Hi @bob76828
Your issue is already fixed by #19

I've just published a version `2.0.1` on npm. Can you tell me if you still have the issue ?

[2019-03-20 03:21] bob76828 commented on #29
@manuquentin It's fixed. Thx!!

[2019-03-20 03:21] #29 closed

[2019-03-21 08:07] dy93 opened #31 "Got IllegalArgumentException"
![image](https://user-images.githubusercontent.com/1477985/54739520-6d09b680-4bf3-11e9-8a21-f493fd22a42b.png)

[2019-03-21 08:08] dy93 commented on #31
I issue a PR #30 to solve this

[2019-03-23 03:25] bob76828 commented on #31
Hi @manuquentin, sorry to bother you.
Yesterday we also pushed two features to our repo.

1. backToForeground method is for your activity can back to foreground when you answer a call.
2. Add the index.d.ts for typescript.

But we made a mistake that we did not create an branch for theses features.
So when you merge PR #30, the feature aslo merged to master.

Please review
https://github.com/wazo-

[2019-03-26 13:08] tarbary commented on #21
I have same issue, I need make call from the native address book via myapp.

[2019-03-26 20:19] danjenkins opened #32 "manifest merger error"
Just adding callkeep to a project and I'm getting an error
[code]

[code]

It looks like the latest version available is
https://repo.jfrog.org/artifactory/libs-release-bintray/com/android/tools/build/manifest-merger/25.3.0/

Completely flumoxed as to why this is even happening - I've used callkeep in another projects fine

[2019-03-26 20:42] danjenkins commented on #32
Seemed to have fixed it by upgrading gradle.

[2019-03-26 20:42] #32 closed

[2019-03-29 09:57] grit96 opened #33 "Android Call with dialog empty"
On some Samsung devices there is a problem when a default calling account has not been chosen. When a call is made from the Phone app, the call with dialog should show the SIM and the CallKeep app but it is blank.

This has been reproduced on Samsung S9 with Android 9 (but was fixed in a security patch from Samsung) and Samsung Note 9 with Android 9 (no security patch available yet), but works cor

[2019-04-02 13:18] grit96 commented on #33
Fixed in 7d7306027834da68f488b4d88bb1ad9910e9348b

[2019-04-02 13:18] #33 closed

[2019-04-07 18:13] zek opened #35 "No sound when using callkit"
I got no sound when I answer with callkit. Do you know why this can be?

Everything works if I use
RNCallKeep.startCall(session.ID, "User", 'generic');

But it doesn't work when I answer from native UI
RNCallKeep.displayIncomingCall(session.ID, user.username, user.username, 'generic', isVideoCall);

The problem is related with this actually.
https://github.com/react-native-webrtc/react-native-call

[2019-04-08 10:52] krajay015 commented on #26
@manuquentin any update do you have regarding this issue?

[2019-04-12 20:09] manuquentin commented on #25
Hi @7ameed !
Are you sure it's an issue with `react-native-callkeep` ? Do you have any logs to show us ?

Regards,
Emmanuel

[2019-04-23 19:36] danjenkins opened #36 "Improvement - Should be able to override the Alert on android"
I should be able to make the alert look and feel like the rest of my app - for example using Modal from `react-native-paper`

[2019-04-23 19:36] danjenkins opened #37 "Improvement - Add callUUID to the mute/unmute event"
So that its the same as the other events

[2019-04-23 19:43] sboily commented on #36
Hello, not sure to understand this point, are you talking about the popup coming from android when you received a call?

[2019-04-23 19:50] sboily commented on #35
Hello,
Do you have a sample example to reproduce this issue? Are you using react-native-webrtc? We don't reproduce it.

[2019-04-23 20:03] danjenkins commented on #36
Sorry @sboily - no the alert that pops up at the start to say "enable the phone account" in https://github.com/react-native-webrtc/react-native-callkeep/blob/master/index.js#L148

[2019-04-23 20:15] sboily commented on #36
Ok thank you! Are you working on this feature for a PR or is it a request feature?

[2019-04-23 22:01] danjenkins commented on #36
Right now it's a feature request but I might end up doing it as a PR :)

On Tue, 23 Apr 2019, 21:15 Sylvain Boily, <notifications@github.com> wrote:

[2019-04-24 09:45] danjenkins opened #38 "Issue with fresh install of app on android"
I've got an issue on a fresh install of the app (or one where i remove the permission to make phone calls)

On fresh install load I get a OS alert asking for permission to make phone calls, I approve and then nothing happens after that.

If I then close the app and restart it, I then get the custom Alert box saying "we need you the phone account", you press ok and it takes you through to the phone

[2019-04-24 14:22] danjenkins commented on #38
Figured it out - I was missing some code in MainActivity.java :)

[2019-04-24 14:22] #38 closed

[2019-04-26 15:30] danjenkins opened #39 "declining call on android doesn't cause the end call event to be called"
On a samsung s8 and when i decline a call through connection manager I don't get an endCall event like I do on ios

Making the issue in case someone else has had this issue  - just about to take a look into the code and see if I can figure out whats happening

[2019-04-26 15:37] danjenkins commented on #39
Figured it out - Why do I finally manage to trace the issue after making a github issue?

[2019-04-26 15:37] #39 closed

[2019-04-26 16:11] danjenkins opened #40 "Android - answerCall and endCall come with no params to decide which call should be terminated"
If your app is able to handle multiple calls, how do you decide which to terminate? Lets say you have an active call and and inbound call.

How do you know which call is being ended? Should we be using

`ACTION_HANGUP_CALL` and `ACTION_REJECT_CALL`

https://github.com/hoxfon/react-native-twilio-programmable-voice/blob/master/android/src/main/java/com/hoxfon/react/RNTwilioVoice/CallNotificationMana

[2019-04-29 15:04] sambegin opened #41 "No podspec found for `react-native-callkeep` in `../node_modules/react-native-callkeep`"
When using [installation with cocoapods](https://github.com/react-native-webrtc/react-native-callkeep/blob/master/docs/ios-installation.md#installation-with-cocoa-pods) steps, pod installation fails with this error.

<img width="648" alt="Screen Shot 2019-04-29 at 10 50 56 AM" src="https://user-images.githubusercontent.com/6645382/56904768-f15e1d80-6a6c-11e9-9458-452218aeb677.png">

[2019-04-30 13:07] sambegin commented on #41
To resolve the problem: https://github.com/react-native-webrtc/react-native-callkeep/pull/42

[2019-04-30 13:39] manuquentin commented on #41
Fixed in #42 thanks !

[2019-04-30 13:39] #41 closed

[2019-05-01 00:41] sunweiyang opened #43 "Possibility of self-managed react-native-callkeep, i.e. with "setConnectionProperties(PROPERTY_SELF_MANAGED)"?"
UPDATE: This is now a feature request. Can react-native-callkeep be updated so that it can be used with `setConnectionProperties(PROPERTY_SELF_MANAGED)`?

---------

Our use case is this: we have a cross-platform video chat app that uses [opentok-react-native](https://github.com/opentok/opentok-react-native), and we currently use just push notifications to get users to pair with each other (using

[2019-05-01 12:51] manuquentin commented on #43
Hi @sujameslin.
Unfortunately, the [documentation](https://developer.android.com/reference/android/telecom/ConnectionService) express that to use `ConnectionServer` we have to require permission for `BIND_TELECOM_CONNECTION_SERVICE`.

I haven't tried without it, maybe you can do some tests and check if it possible, but I'm not very sure about it.

[2019-05-06 13:35] fastmanu opened #45 "Can only use lower 16 bits for requestCode"
Hi Callkeep team,

I'm getting this error on android when running the sample code. I tried to unlink and link the package again, and finally checked everything manually, but it keeps happening.

This error disappears if i manually authorize my to access the phone (settings -> Apps permissions -> myapp -> permissions -> phone).

Any idea ?

Manu

![Screenshot_1557148066](https://user-images.githubu

[2019-05-06 13:49] manuquentin commented on #45
Hi @fastmanu !
I think it's fixes in #30, I'll release a new version soon with this fix

[2019-05-06 14:04] fastmanu commented on #45
Bonjour Manu,

That was quick :) Thanks for your help 👍

[2019-05-06 14:04] #45 closed

[2019-05-06 17:36] manuquentin commented on #45
I've published a `2.0.2`. Can you check if the issue still persist ?

Regards,
Manu

[2019-05-07 15:19] sambegin commented on #45
Can confirm it is working with 2.0.2. Thanks !

[2019-05-09 12:32] fastmanu commented on #45
Issue fixed, thank you manu ;)

[2019-05-11 22:32] Praxey commented on #43
Would it not be possible to accomplish this using a self managed ConnectionService?

https://developer.android.com/guide/topics/connectivity/telecom/selfManaged

[2019-05-15 09:27] danjenkins opened #46 "Add removeEventListener(type) to README"
Allow the removal of all event listeners for a particular event.

[2019-05-15 17:45] ngoctan95 opened #47 "'React/RCTEventEmitter.h' file not found"
I got this issue while trying to add lib. Could anyone help me out
@manuquentin

[2019-05-17 12:43] manuquentin opened #48 "Handle multiple calls"
In order to allow multiple calls with callkeep, we need to do some modifications.
This issue is intended to list all resources about this subject.

# iOS
- [maximumCallsPerCallGroup](https://developer.apple.com/documentation/callkit/cxproviderconfiguration/1648351-maximumcallspercallgroup)

# Android
- [addExistingConnection](https://developer.android.com/reference/android/telecom/ConnectionServic

[2019-05-20 13:34] yunhanxia opened #49 "Custom UI for Incoming Call Android"
Hi, is there a way to use a custom UI for incoming call and call screen instead of native?

[2019-05-22 20:02] mariouzae opened #51 "iOS native phone UI is minimizing when the call is accepted"
Hi,

I don't know if this is the standard behavior but, when I accept the call on iOS through the native phone screen, it is minimized and it goes to my app screen. I see the native phone UI on the tray. Is there some way to configure to have this call activity screen don't minimize?

Many thanks.

[2019-05-23 12:24] mariouzae commented on #51
@manuquentin, can you give a clue?

[2019-05-23 14:23] danjenkins commented on #51
As far as im aware - this is an iOS behaviour and theres no way to stop it

[2019-05-24 13:41] danjenkins opened #52 "hold events have different data depending on platform"
ios has `onHold` and android has `hold` so I'm having to  do

`let tmpHold = Platform.OS === 'android' ? data.hold : data.onHold;`

We should make it the same

[2019-05-27 21:46] chevonc commented on #51
If you answer the call **while the phone is locked**, then the native screen will remain. However, if your phone is unlocked, the native OS hands off management to your app

[2019-05-27 21:48] chevonc commented on #26
I believe `endCall` is only fired when the call is ended using the **native dialier** screen. Not when `RNCallKit.endCall(callUuid);` is called programatically

[2019-05-30 04:33] webmasterdragon commented on #47
I have same problem. @ngoctan95 @manuquentin did you get solution?

[2019-05-30 04:41] ngoctan95 commented on #47
Yes. I found the solution for this. @webmasterdragon
Add these lines into the pod file before add pod for callkeep.
[code]
And note one: You have to manual linking, dont auto linking.

[2019-05-30 04:41] #47 closed

[2019-05-30 09:42] webmasterdragon opened #53 "RNCallKeep.addEventListener() not working."
Hi, guys.
I have tried more times to debug catch events and output result, but all RNCallKeep.addEventListener subscriptions are not working.
Maybe I have some missing configuration?
I am testing TextNow voip services on my phone and mac.
Here is my code.

[code]
iOS and Android packages are correctly imported and running without any errors.
But can't catch event as I desired.
Thanks.

[2019-05-31 10:37] ThomasLarge opened #54 "Incoming call not displaying it's a video call"
I have a function that is being called when I get a notification but I can't get it to say Video and not audio. Bellow is the function

[code]

True is the way the docs tells you how to set it

Can anyone help?

[2019-06-04 11:15] webmasterdragon commented on #53
Hi, Any update about this issue?

[2019-06-05 13:57] danjenkins commented on #48
Hey @manuquentin - is this on your roadmap to address soon?

I just realised that I'd assumed that callkeep could handle multiple android calls. iOS just works, and I expect this would essentially enable us to get a ID for each android call and push them out into events.

[2019-06-05 14:20] sboily commented on #48
Hello, yes it will. @manuquentin is in holiday actually.

[2019-06-05 14:22] danjenkins commented on #48
thanks @sboily !

[2019-06-05 15:16] kylekurz commented on #48
Dan and I are working through some assumptions the Sangoma team made that are not clearly applicable to *all* users. Once we have something more stable, I'll give you a PR of our work and that should give a jumpstart to this work.

[2019-06-07 08:40] bmp123 commented on #35
same issue. If I use RNCallKeep.startCall and react-native-webrtc sometimes no sound on ios

[2019-06-11 18:10] bmp123 commented on #35
same issue. If I use RNCallKeep.startCall and react-native-webrtc sometimes no sound on ios! If use react-native-webrtc without react-native-callkeep all calls is good. if I invoke startCall method before getUserMedia it work perfectly, but this trick don't work with displayIncomingCall

[2019-06-12 09:05] danjenkins commented on #53
Thats odd @webmasterdragon - have you looked at the debugging on ios? It should tell you when the event was raised. https://github.com/react-native-webrtc/react-native-callkeep/blob/master/ios/RNCallKeep/RNCallKeep.m#L402 for example. I can't see anything glaringly obviously wrong

[2019-06-12 09:06] danjenkins commented on #52
Turns out this isn't true and I'm closing it

[2019-06-12 09:06] #52 closed

[2019-06-12 09:07] danjenkins commented on #51
Closing as this is the intended behaviour of callkit - its different to the options available for connection service on android

[2019-06-12 09:07] #51 closed

[2019-06-12 09:09] danjenkins commented on #49
Part of #43 - closing

[2019-06-12 09:09] #49 closed

[2019-06-12 09:11] webmasterdragon commented on #53
Thanks for your reply.
I have some questions: @danjenkins
 - Does this library support voip && real phone numbers?
 - Is this working on android?
 - Does this support incomming phone numbers and block call?

[2019-06-12 09:26] danjenkins commented on #53
How do you mean voip and real phone numbers? If you mean handling phone calls to replace your dialer on android - it doesn't support that. Its used in conjunction with a voip app which makes and handles its own calls.

Yes

If you mean get events when an incoming PSTN/Cellular call comes in and block it - no

[2019-06-12 09:27] danjenkins commented on #40
This will be solved by @kylekurz 's addition talked about in #48

[2019-06-12 09:29] danjenkins commented on #35
I have a feeling this has something to do with the fact callkit can disable the webrtc audio session but theres no way to bring it back - we talk about it over in https://github.com/react-native-webrtc/react-native-webrtc/issues/632

[2019-06-12 09:31] webmasterdragon commented on #53
Thanks.

[2019-06-12 09:31] #53 closed

[2019-06-12 10:27] danjenkins commented on #31
Closing as we've has releases since this inclusion

[2019-06-12 10:27] #31 closed

[2019-06-12 12:13] tienviip commented on #54
hi @ThomasLarge have you found a solution for videocall, please support me.

[2019-06-12 13:37] ThomasLarge commented on #54
@tienviip do you mean how to get it working? or the issue I have above?

[2019-06-12 21:41] sunweiyang commented on #43
Even better if react-native-callkeep has the ability to do either self-managed or system-managed depending on availability (API 26 and API 23, respectively), or self-managed only, depending on developer's preferences.

[2019-06-13 10:15] tienviip commented on #54
@ThomasLarge  yep, I also encountered your problem above, Can you help me, please.

[2019-06-13 13:10] ThomasLarge commented on #54
@tienviip I'm waiting on someone to help me too 😆 I'm going to try and dig into it later but haven't got the time at the moment that's why I have opened the issue

[2019-06-13 18:24] sunweiyang opened #55 "Ability to use react-native-callkeep when app is backgrounded/killed"
The react-native-callkeep library works when the app's JS is active (open/backgrounded for Android, open for iOS). However, the react-native-callkeep JS API, as documented in the readme, doesn't work when the app is in the other states (killed for Android, backgrounded/killed for iOS).

Can react-native-callkeep possibly be made to work in those scenarios (i.e. from a push notification via a nativ

[2019-06-13 19:00] manuquentin commented on #55
Hi @sunweiyang.
I've answered to this question in #21.

To be able to wake up your application you should use `PushKit` on ios and `BackgroundMessage` on Android with Firebase.

[2019-06-13 19:00] #55 closed

[2019-06-17 15:28] manuquentin commented on #22
Hello @carlmagumpara,
`endAllCalls` is mainly used for `ios` and it's not really supported in Android because we need an `uuid` on Android to stop a call (that why it's not documented).

To end a call you need to send the `uuid` [used to create the call](https://github.com/wazo-pbx/wazo-react-native-demo/blob/master/App.js#L155).

Can you check that these `uuid` are the same ? Can you test it in a

[2019-06-17 15:42] manuquentin commented on #21
Hi @tarbary
On the Contact native app of you phone, if the user has authorized to add the Phone Account for you application will see this :
![Screenshot_20190617-114206_Phone](https://user-images.githubusercontent.com/2076632/59617763-f185ab80-90f4-11e9-9f11-38af395f953e.jpg)

When the user select your application, the `didReceiveStartCallAction` callback will be called with the number selected.

[2019-06-17 15:43] manuquentin commented on #25
Hi @7ameed do you still have the issue ?

[2019-06-17 15:45] manuquentin commented on #26
Hi @krajay015
Yes that's true, `endCall` is fired only when the user ends the call from the native UI.

[2019-06-17 15:46] manuquentin commented on #26
Hi @krajay015
Yes that's true, `endCall` is fired only when the user ends the call from the native UI.

[2019-06-17 16:46] danjenkins opened #56 "Android dial from Contacts/Dialer History when app killed"
Calling using callkeep integration on android works great when the android app is open. If its closed, it doesn't work. It opens the native GUI for making an outbound call but then gives up.

Tried to look through the logs and figure out whats missing but it doesn't make too much sense to me. Got any pointers?

I'm assuming I need to put another intent filter for MainActivity into AndroidManifest

[2019-06-17 17:08] danjenkins commented on #21
Didnt mean to close it

[2019-06-17 17:29] manuquentin commented on #56
Hi @danjenkins
When you speak about app closed, you mean in background ?

In background you receive an event that triggers `displayIncomingCall` and then before receiving `answerCall` the call is hanged up ?

We don't have this issue, and don't have to put extra stuff in AndroidManifest.

[2019-06-17 17:51] danjenkins commented on #56
Not in the background - completely killed off. I can invite you to my slack
org or something if you're up for debugging it together or something.
Background works ok for me

On Mon, 17 Jun 2019, 18:29 Emmanuel Quentin, <notifications@github.com>
wrote:

[2019-06-17 18:01] manuquentin commented on #56
If the app is completely killed you can receive anything to be able to display callkeep as your code needs to call `displayIncomingCall`.

We use [`pushkit`](https://github.com/ianlin/react-native-voip-push-notification) on iOS and [firebase background message](https://rnfirebase.io/docs/v5.x.x/messaging/receiving-messages#4)-(Optional)(Android-only)-Listen-for-FCM-messages-in-the-background.) to

[2019-06-17 18:12] danjenkins commented on #56
But there isn't an inbound call, it's an outbound call - the intent from
pressing dial within the dialer should open the app and let me make the
outbound call using the app code (still listening on
didRecieveStartCallAction or whatever the event is called)

I have another intent in Android manifest which listens for an intent
opening a particular URL structure - and that opens the app up from kill

[2019-06-24 11:19] eVoloshchak opened #57 "Open application after answering call on Android"
Hello everybody. Is there a way to show custom UI after answering call on android, e.g. open application with custom UI, instead of being stuck on Android`s default incall screen?

[2019-06-25 09:54] grit96 commented on #57
Related to #21, this is also something I would like to see added.

In the meantime it may be possible using [react-native-launch-application](https://www.npmjs.com/package/react-native-launch-application).

[2019-06-25 10:56] eVoloshchak commented on #57
Thanks! Yes, it is possible using react-native-launch-application, but it works inconsistently and behaves differently on different phones. Sometimes it launches an application and covers incall UI and sometimes it doesn`t.

[2019-06-26 11:22] LinusU commented on #54
The problem is probably that `hasVideo` is hard-coded to `NO` here:

https://github.com/react-native-webrtc/react-native-callkeep/blob/7d7306027834da68f488b4d88bb1ad9910e9348b/ios/RNCallKeep/RNCallKeep.m#L135

[2019-06-26 12:12] ThomasLarge commented on #54
@LinusU Looks like it's here too

https://github.com/react-native-webrtc/react-native-callkeep/blob/7d7306027834da68f488b4d88bb1ad9910e9348b/ios/RNCallKeep/RNCallKeep.m#L254

Do you think it's best to change the file locally or is it best to wait until the repo has been updated?

[2019-06-27 06:19] danjenkins commented on #54
Update it locally, see if it fixes your issue and then submit a PR with it
configurable :) in all likelihood it won't get fixed unless you fix it!

On Wed, 26 Jun 2019, 13:12 Thomas Large, <notifications@github.com> wrote:

[2019-06-27 07:49] ThomasLarge commented on #54
@danjenkins & @LinusU I have changed that file and it doesn't seem to work still I think there's more places it's hardcoded or it's something that isn't working in the package. I haven't got the time over the next couple of days to look into it more but I will over the weekend. There's also these two lines

https://github.com/react-native-webrtc/react-native-callkeep/blob/5cae45787f46fb772a31369c8

[2019-06-27 12:38] jaswantjatav commented on #54
HI anyone  found a solution for showing incoming call ui, please help me, I am using react-native-WebRTC  plugin , react-native-callkeep and want to show incoming call ui but nothing showing even I called the function
RNCallKeep.displayIncomingCall("978697869", "TESting");

But no luck, please help me if anyone got solution.

[2019-06-27 13:19] danjenkins commented on #54
@jaswantjatav if you need help then please make a new issue

[2019-06-27 13:28] danjenkins commented on #54
@ThomasLarge @LinusU

So you need to change https://github.com/react-native-webrtc/react-native-callkeep/blob/7d7306027834da68f488b4d88bb1ad9910e9348b/ios/RNCallKeep/RNCallKeep.m#L135 's `NO `to `hasVideo`

I'd just comment out the line https://github.com/react-native-webrtc/react-native-callkeep/blob/7d7306027834da68f488b4d88bb1ad9910e9348b/ios/RNCallKeep/RNCallKeep.m#L254

@ThomasLarge those 2 l

[2019-06-27 14:16] ThomasLarge commented on #54
Cheers @danjenkins I will look at this tomorrow or the weekend

[2019-06-28 06:57] jaswantjatav opened #59 "Incoming call UI not displaying."
Hi,

I am using this plugin to show incoming video call ui into react-native, I am trying to display a incoming call UI as per document I used this function after installing plugin and linked.

     RNCallKeep.displayIncomingCall(uuid.v4(), '44534534543', 'jaawant','number', true);

I also tried old comments on display incoming call and follow instructions but there was no luck.
I also updated thi

[2019-07-01 20:03] moisesynfam commented on #59
Have you tried uuid.v1() function ?

[2019-07-02 12:01] manuquentin commented on #59
Hi @jaswantjatav,
We've made a [small demo](https://github.com/wazo-pbx/wazo-webrtc-demo) on how to use callkeep. Maybe you can take a look and check if your code is matching it ?

[2019-07-05 06:12] jaswantjatav commented on #59
Hi @moisesynfam
Thanks for your time, but the problem is I am not using wazo-webrtc sdk, I am using react-native-webrtc plugin. But display incoming call function not showing incoming call ui.

This is what I am using  RNCallKeep.displayIncomingCall(uuid.v4(), '44534534543', 'jaawant','number', true);

[2019-07-05 09:45] wumke opened #61 "Update explanation in readme"
I'm looking for a better incoming call-notification than push notifications for a WebRTC videocalling app, when i read the readme it is not immediately clear for me what happens on ios and android when the answer button is pressed?
Will my app be opened with some extra data?
Can we use it with WebRTC (and custom UI) instead of VOIP?
Can it be used when app is not active or in background?

_Aside f

[2019-07-05 11:26] #54 closed

[2019-07-05 11:29] manuquentin commented on #59
@jaswantjatav has the phone accepted the permissions required ? On Android have you accepted to add the phone account ? Have you used `RNCallKeep.setup` ?

[2019-07-05 11:35] manuquentin commented on #61
Hi @wumke !
You're right, I'll update the documentation.

It's depend on the platform (iOS or Android) the behaviour is not totally the same.
On locked screen for example, both will display the native incoming call UI in full screen.
When you press the answer button, the `answerCall` method is called, and them it's up to you to do whatever you want (WebRtc, VOIP, ...).
It can be used when the app

[2019-07-05 11:43] wumke commented on #61
That is a short but complete answer to all my questions... thank you for the quick response!

I'll give it a try when I find some time, I trigger users by push notification and even force close my app when it goes to background to reduce power/memory consumption of the connection with websocket signaling server and camera input source.

[2019-07-05 16:01] jaswantjatav commented on #59
@manuquentin  actually I am running it on iPhone  and yet I did RNCallKeep.setup , but I can't see the incoming call screen.

[2019-07-05 20:29] moisesynfam commented on #35
I'm not getting audio either when using the call-kit alongside react-native-pjsip. Has anyone encountered the same issue using pjsip ?

[2019-07-09 07:40] ThomasLarge commented on #54
I can confirm this is all fixed 👍

[2019-07-11 12:41] jaswantjatav commented on #59
@manuquentin please include all lib and framework as per document on git , I also got stocked and now I fixed this issue by referring the document to install this plugin.

[2019-07-11 12:45] manuquentin commented on #59
Hi @jaswantjatav,
I don't understand, which framework should I add ?

Emmanuel

[2019-07-11 19:18] arnaugris97 commented on #59
Hi @jaswantjatav,
I have faced the same problem and following readme instructions for iOS and adding a SIM card to the iPhone, incoming call screen was displayed. I have change another parameter in settings > phone > announce calls -> always

I hope this will solve your problem!

[2019-07-11 19:30] arnaugris97 opened #62 "Can't display start call screen on iOS 12"
Hi,
I have set up callkeep for iOS platform but I'm able to see only  some screens.
For example I can see Incoming call screen without problems. But when I run this line of code `RNCallKeep.startCall('b0074838-a352-11e9-a2a3-2a2ae2dbcce4', '123456789');` I can't see start call screen on the iPhone, moreover, when I set app in background I can see iPhone's status bar in green indicating that there

[2019-07-19 10:34] whenmoon opened #65 "Update readme"
Should the line:

"Tell ConnectionService that the device is ready to accept outgoing calls"

not read:

"Tell ConnectionService that the device is ready to accept incoming calls"?

[2019-07-19 11:43] manuquentin commented on #65
Hi @whenmoon
You read correctly. The `setAvailable` method told CallKeep that our webrtc phone can make outgoing calls via the native Phone app (ios / android).

For example, when your user is logged in your application, you can call `setAvailable(true)` so when your user makes a call via the native phone app, CallKeep will pass the event through `didReceiveStartCallAction`.

But when your used lo

[2019-07-19 15:20] whenmoon commented on #65
Excellent explanation and thank you.

[2019-07-19 15:30] whenmoon opened #66 "TypeError: null is not an object (evaluating 'RNCallKeepModule.setAvailable')"
I am getting `TypeError: null is not an object (evaluating 'RNCallKeepModule.setAvailable')`, with remote debugging turn off and `TypeError: Cannot read property 'setAvailable' of undefined` with remote debugging on.

[code]

[2019-07-19 15:47] whenmoon commented on #66
Also a warning:

[code]

[2019-07-20 05:50] danjenkins commented on #66
What version of RN are you using?

[2019-07-20 08:44] whenmoon commented on #66
I was using 0.6. After posting this I tried again with 0.57.3 and the setup instructions made much more sense but was still having issues - can report back with more details. Which version do you recommend? Thanks.

[2019-07-20 10:38] danjenkins opened #67 "add ios support for `performSetGroupCallAction`"
Just trying to work out whats needed to utilise the new callkit  ios flag in RN-WebRTC 75 and realised we still don't support `performSetGroupCallAction`

I plan on submitting a PR for it but making the issue so it doesn't get forgotten about

[2019-07-20 10:52] danjenkins opened #68 "add listener for didDeactivateAudioSession on ios"
Will make debugging easier

I'll do a PR later

[2019-07-20 11:11] whenmoon commented on #66
Issue resolved using RN version 0.57.3!

[2019-07-20 11:11] #66 closed

[2019-07-20 11:12] danjenkins commented on #66
Great! RN moves at such a fast pace - always good to be up to date so that upgrades arent impossible. I'm just moving clients from 57 to 59 - 60 is too much of a change and we need to wait for modules to support it before doing anything (there are workarounds but I dont like workarounds)

[2019-07-20 11:13] danjenkins commented on #66
On that note you need to upgrade to 59 to get the 64 bit android  app support  - soon you wont be able to publish to the google play store without a 64 bit version

[2019-07-20 11:14] danjenkins commented on #25
Closing for the time being.

[2019-07-20 11:14] #25 closed

[2019-07-20 11:15] danjenkins commented on #37
This should be fixed by #64

[2019-07-20 11:16] danjenkins commented on #40
This will be solved by #64

[2019-07-20 11:17] danjenkins commented on #48
A large proportion of this should just work with #64

[2019-07-20 11:20] danjenkins commented on #62
are you trying to view a callkit screen when you start a call from the device? If you are - thats not possible with callkit

[2019-07-20 11:45] whenmoon commented on #66
Awesome 👍 understood and thanks 💥

[2019-07-21 09:25] arnaugris97 commented on #62
Yes, I was trying this!
Ok, thanks!  I will make a custom one.

[2019-07-21 09:25] #62 closed

[2019-07-23 14:18] whenmoon opened #70 "Add setup instructions for React Native 0.06.XX"
Please add add setup instructions for React Native 0.06.XX to the readme.

[2019-07-25 12:42] ThomasLarge opened #72 "can't dismiss the callscreen iOS"
I have everything working and the call coming through to my device but when I call `RNCallKeep.endCall(callUUID);` this doesn't dismiss the native call screen.

I have it wrapped in a timer so if there's no answer after 20seconds the call should stop but it isn't working

Can anyone help?

[2019-07-25 12:56] ThomasLarge commented on #72
After digging through the code I have found `RNCallKeep.endAllCalls();` I will add this to the docs and make a PR

[2019-07-25 12:59] ThomasLarge commented on #72
Here is the PR https://github.com/react-native-webrtc/react-native-callkeep/pull/73

[2019-07-29 05:41] r0b0t3d commented on #70
@whenmoon There is PR #69 to support react-native 0.60.xx. For now, you can use this branch until it got merged.

If your project is using react-native 0.60.xx. You just need do
[code]
then
[code]

Note: If your project already linked react-native-callkeep before. Please unlink first
[code]

[2019-07-29 11:31] alxsad commented on #59
Hi guys, I have the same problem. After **RNCallKeep.setup** I try to show incoming call UI by `RNCallKeep.displayIncomingCall(uuid.v4(), '375297776655');` but nothing happens.

[2019-07-30 08:33] zlenkoriseapps opened #75 "iOS: endCall and endAllCalls not working after second setup"
To show incoming call screen we call

1. **RNCallKeep**._setup_(options)
2. _createNewUdid_()
3. **RNCallKeep**._displayIncomingCall_(getCurrentUuid() .......)

To close incoming call screen we call
1. **RNCallKeep**._endCall_(getCurrentUuid())

It works great for the first time.

**### But** -------------------------------------------------------------------------------
 when we receive a new cal

[2019-07-30 11:57] alxsad commented on #59
Hi guys, actually I had mistake during installation. According documentation I should open `Info.plist` file and add `voip` in `UIBackgroundModes`. I moved code from documentation but I already had `UIBackgroundModes` section in my app.

@jaswantjatav may it can help you.

[2019-07-30 21:10] danjenkins commented on #75
@zlenkoriseapps how come you're calling setup twice? Setup should only be called once

[2019-07-30 21:11] danjenkins commented on #72
Sounds like your uuids aren't the same?

[2019-07-31 08:37] ThomasLarge commented on #72
@danjenkins I checked this and they were but still wasn't working so I went for the `endAllCalls`

[2019-07-31 09:59] danjenkins commented on #72
out of curiosity - did your uuids have lowercase or uppercase letters? I think iOS internally uses uppercase - ive never seen this issue personally but I think all my uuids are uppercase, or lowercase... and it just happens to be the same as what iOS expects

[2019-07-31 21:14] ThomasLarge commented on #72
@danjenkins They are lowercase so that might be the reason! I could maybe test and get back to you on it next week?

[2019-08-01 09:17] zlenkoriseapps commented on #75
@danjenkins

[https://github.com/react-native-webrtc/react-native-callkeep#notes](url)

also

So if we don't setup call again we cant open app from the incoming call screen.

[2019-08-01 09:25] danjenkins commented on #75
@zlenkoriseapps I only ask because I only call `setup` when the phone component mounts and everything works perfectly.

[2019-08-01 10:30] danjenkins opened #76 "should there be a yarn.lock file?"
This repo has no dependencies so why is there a yarn lockfile? I feel as though its causing issues with conflicting dependencies but I can't 100% put my finger on it. Anyway..... why the yarn.lock ?

[2019-08-01 10:37] zlenkoriseapps commented on #75
Everything works in the first time, but when I finish the current call and try to do a new one, I have problems with endCall.
@danjenkins Did you test it with multiple calls one by one?

[2019-08-01 10:43] danjenkins commented on #75
yup! @zlenkoriseapps - have a couple of apps using callkeep and they all behave the same :)

[2019-08-01 15:49] zlenkoriseapps commented on #75
Did you use it with VoIP background notifications on iOS?

[2019-08-01 17:48] danjenkins commented on #75
Yup!

On Thu, 1 Aug 2019, 16:49 Dima Zlenko, <notifications@github.com> wrote:

[2019-08-02 18:45] nikunjbansal commented on #57
We are also looking for this feature. Till then I am just displaying a local firebase notification to user  which will open the application onclick.

[2019-08-03 03:28] raeesbhatti commented on #26
This is definitely a bug. I've been trying to track it down but it happens randomly for me, so haven't been able to pinpoint the problem.

[2019-08-05 07:48] TechGuyVN commented on #75
me in trouble too, using with background notifications and can not kill call screen when end call.
any work around ?

[2019-08-05 07:52] zlenkoriseapps commented on #75
@danjenkins Can you please provide an example of your setup flow and end flow.  =)

[2019-08-07 12:37] manuquentin opened #78 "Add an event when the speaker button is pressed"
For now when the user change the speaker output, we don't have any event for that.

We need also a method to tell CallKeep to change the speaker button when we change it in the application.

[2019-08-15 12:52] manuquentin commented on #76
Nope, can be removed. I'll make a PR

[2019-08-15 15:01] #76 closed

[2019-08-15 16:20] danjenkins commented on #68
this is done!

[2019-08-15 16:20] #68 closed

[2019-08-15 16:21] #40 closed

[2019-08-15 16:22] #37 closed

[2019-08-15 16:25] danjenkins commented on #35
We've just merged in a change that makes this work better once youve upgraded to m75 which is currently in master on rn-webrtc. Not sure about pjsip. I'm going to close this for now. If you still have issues, reopen it

[2019-08-15 16:25] #35 closed

[2019-08-15 16:26] danjenkins commented on #48
This should be done now

[2019-08-15 16:26] #48 closed

[2019-08-15 16:26] danjenkins commented on #56
fixed with #79

[2019-08-16 12:14] Alarees opened #82 "App crash, android 4.4.4"
what android supported version by this library ?
i run the app on android V 4.4.4 it crash
i run it on android V 5.1 it run's perfectly
@manuquentin

[2019-08-19 14:52] alxsad commented on #57
+1 We need to hide call UI after user clicks "answer". User should go back to app to the screen where he were before.

[2019-08-19 14:54] alxsad commented on #57
iOS by default hides call UI and show app.

[2019-08-21 15:21] NIyerAD opened #84 "No Audio on iOS"
"react-native-callkeep": "^2.0.3"
"react-native-webrtc": "^1.75.0"

I am not receiving any audio when I answer an inbound call on iOS (android is fine). I do get the following in the logs.
_[RNCallKeep][configureAudioSession] Activating audio session_
_[RNCallKeep][CXProviderDelegate][provider:didActivateAudioSession]_

[2019-08-21 16:04] zlenkoriseapps commented on #75
@danjenkins @c960657 @LinusU  Guys any updates? Please help. We stuck on it and can`t release app...

[2019-08-22 07:36] danjenkins opened #85 "Starting an android call when app in killed state behaves weirdly"
With the update in master, we get the event into the background service and then open up the app from there with the uuid for connection service. If I run startCall I get the connection service UI but I don't get a start call event. I have to assume that the event isn't going to happen and force the call to happen as though I got the start call action.

How did you envisage this working @manuquent

[2019-08-22 08:05] #85 closed

[2019-08-22 16:56] rcidt commented on #84
I am getting the same thing. It definitely has to do with the Audio Session. I think the call will have no audio if SIP call is established _before_ the Audio Session is activated.

I am trying to only start accept/make calls once the `didActivateAudioSession` event fires, but I can only get it to fire once. Looking into a solution.

[2019-08-22 17:00] rcidt commented on #26
I experience the same thing. My solution is to use the `endAllCalls()` method. This won't due once we need to handle call waiting flows though.

[2019-08-25 18:32] #65 closed

[2019-08-27 16:05] NIyerAD commented on #84
Thanks for your help, @rcidt. I thought it may have been something to do with the audio session. I'm handling the call after `didActivateAudioSession` event fires but there's still no audio. This happens when the first incoming call arrives so I don't think that it's an issue with ending all of the calls first.

[2019-08-30 09:36] danwhite-ad opened #88 "Android: Can't get past answer screen."
React-Native: **v0.59.8**
React-Native-Callkeep: **v3.0.1**
React-Native-WebRTC: **v1.69.2**
Android: **Pie**

When an inbound call is started with `RNCallKeep.displayIncomingCall(this.getCurrentCallId(), number, name);` the answer dropdown appears and when the answer button is clicked the app navigates to a full screen native answer screen. No matter how many times I attempt to answer the screen

[2019-08-30 13:02] #88 closed

[2019-09-03 13:44] msuma268 opened #89 "Android : Unable to view permission dialog & call UI"
Started using CallKeep since last week. With v2.0.3, I was able to view Android permission alert text configured while setting up CallKit and on invoking startCall, call screen too used to appear if phone account permission was granted.

Upgraded to latest version today(v3.0.1). On invoking RNCallKeep.setup(), I am able to view only System alert "Allow <App Name> to make and manage phone calls?".

[2019-09-03 13:55] msuma268 opened #90 "indes.d.ts file isnt in sync with CallKeep APIs"
API signatures in index.d.ts and the one supported by latest CallKeep version are not in sync.

Ex: setCurrentCallActive takes call UUID as argument in latest version. But in index.d.ts, setCurrentCallActive is declared with no arguments. If typescript check is enabled on the javascript. then error is shown in IDE with prompt to invoke method without any arguments.

There is no updateDisplay API a

[2019-09-03 13:58] msuma268 opened #91 "Unable to view CallKeep logs in Android"
I am unable to view any CallKeep logs in Android. Using the command "adb logcat *:S RNCallKeepModule:V" as suggested, but no logs are getting printed.  Tested this in OS 6.0.1 and 9.0. Is there any additional configuration that needs to be done to be able to view the logs

[2019-09-04 09:41] reactdevrocks commented on #82
any solution for 4.4.4 android?
getting this error:

java.lang.NoClassDefFoundError: io.wazo.callkeep.VoiceConnectionService
        at io.wazo.callkeep.RNCallKeepModule.<init>(RNCallKeepModule.java:85)
        at io.wazo.callkeep.RNCallKeepPackage.createNativeModules(RNCallKeepPackage.java:33)
        at com.facebook.react.ReactPackageHelper.getNativeModuleIterator(ReactPackageHelper.java:42)

[2019-09-04 13:28] rcidt commented on #72
@ThomasLarge any updates?

[2019-09-04 18:52] ThomasLarge commented on #72
@rcidt sorry I have changed the way I am using this in a project so haven’t looked back. I will try and find some time to time to test this and update the docs

[2019-09-05 11:20] ShahVivek commented on #53
@webmasterdragon, I am facing the same issue. I have followed the installation and linking process and added code in AppDelegate, index and other relevant files. I have implemented
`RNCallKeep.setup(options); ` and added listener for `RNCallKeep`. But still, none of my listeners gets called on both android and iOS.
For iOS maybe it requires the implementation of VOIP push from backend side. But I

[2019-09-06 21:14] manuquentin opened #93 "[Android] Impossible to select the application when no SIM is present"
cf: https://github.com/react-native-webrtc/react-native-callkeep/pull/63#issuecomment-523119033

[2019-09-07 18:48] nemanjam opened #94 "RNCallKeepModule.onRequestPermissionsResult(requestCode, permissions, grantResults); required: int[] found: int,String[],int[]"
When I follow Android installation instructions from https://github.com/react-native-webrtc/react-native-callkeep/blob/master/docs/android-installation.md on Windows 8.1, Andorid emulator 9.0 I get:

[code]

in this code:

[code]

[2019-09-07 19:09] nemanjam commented on #94
This is the manual for the v3 installation, I have been using v2. It's just:

[code]

[2019-09-07 19:09] #94 closed

[2019-09-09 08:32] Prussich opened #95 "[Android] displayIncomingCall either doesn't called or called with a long delay in when the app is launched from high priority FCM arrives and device in idle mode (Doze)"
I'm trying to solve the following problem: receiving an incoming call and displaying an incoming call window in the application, even when the application is killed.

I assume this is solved as follows:
1) High priority FCM message is sent to the Android 10 device (Pixel 2).
2) The App start the HeadlessJS task and call the RNCallKeep.displayIncomingCall function.

My FCM messages looks like this:

[2019-09-09 18:30] #61 closed

[2019-09-09 18:40] manuquentin commented on #95
Hi @Prussich,
We do use FCM to wakeup our application and it works perfectly.

If you have some console.log in `bgMessaging.js`, did you see your application starting in zombie mode ? At the end of the call you have to disconnect from all your services (websocket, ...).

Did you send a push for each call ? You have to wake up your application for each call you receive (it will be faster after the

[2019-09-09 18:41] manuquentin commented on #90
Fixed in #96

[2019-09-09 18:42] manuquentin commented on #89
Hi @msuma268, can you check the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) and see what's different from your code ?

[2019-09-09 18:43] manuquentin commented on #59
Hi @al, can you check the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) and see what's different from your code ?

[2019-09-09 19:58] Prussich commented on #95
Hi @manuquentin ,

I added some code to onMessageReceived(RemoteMessage message) in RNFirebaseMessagingService.js:

[code]
and now it's work fine! But a slight inconvenience - every time before displaying an incoming call, the display lights up.
If I change SCREEN_BRIGHT_WAKE_LOCK to PARTIAL_WAKE_LOCK, RNCallKeep.displayIncomingCall calls with the long delay 10-15 sec.
I conclude that only the sta

[2019-09-09 20:23] manuquentin commented on #95
The receiving of a push with high priority wakes up your phone and then you have to call `displayIncomingCall`.

Maybe it's an issue with `react-native-firebase`.

Yes of course, but we have tested with Android 9, not 10 yet.

[2019-09-10 13:07] Prussich commented on #95
@manuquentin
I left the phone for a long time (all night). I woke up and started calling the application - no reaction. Apparently besides idle, the device and the app goes into a state (inactive) when network access is completely unavailable and SCREEN_BRIGHT_WAKE_LOCK not wake up the application completely.
Calling to a Viber app brought no reaction either. Only Whatsup showing incoming call imm

[2019-09-11 14:59] renefs commented on #95
Hi, I have one brief question as I am trying to achieve the same:

[code]

Does this code work for you? Doesn't it throws an exception?

In my case I'm getting:

[code]

[2019-09-11 15:10] Prussich commented on #95
Hi @renefs
Because one of the alerts of some other permissions prevents it from opening CallKeep's alert (activity doesn't exist). Just check permissions that you call and do the RNCallKeep.setup(options) after you get the rest of the permissions. Otherwise, a conflict arises. For example:

[code]

[2019-09-11 15:21] renefs commented on #95
Hi @Prussich,

But do you have that code in the `bgMessaging.js` file? I get the exception when the push notification arrives:

[code]

I have not problem with the RNCallkeep when I setup the permissions when the main application is working, only here. Thank you for your help!

[2019-09-11 15:43] Prussich commented on #95
@renefs
This code worked for me. But I think that in your case, the app is trying to show alert and there is no activity.

[2019-09-12 07:39] renefs commented on #95
@Prussich yes, I think that's happening. What I don't understand is why. I already gave the application permissions at this point

[2019-09-13 22:38] jonastelzio commented on #82
ConnectionService wasn't added before Android API v 23 (Android 6), so anything prior to that will give that NoClassDefFoundError because the ConnectionService class doesn't exist in those Android versions.

[2019-09-14 13:09] renefs opened #97 "How to register (and answer call) when app is background?"
I'm trying to implement push notifications in the app. With the code below, I manage to receive a FCM and display the calling screen properly ([Link](https://github.com/react-native-webrtc/react-native-callkeep/issues/95#issue-490955252)):

[code]

I am not sure though, how should I implement now the register (using sip.js) and then answer the call. Should I call the register when the answer butto

[2019-09-16 07:55] reactdevrocks commented on #82
any solution for that or how to handle this crash, any idea?

[2019-09-16 12:20] manuquentin commented on #82
Hi @reactdevrocks
You can check the version of the device like with `DeviceInfo.getVersion()` with it api level < 23 you can disable callkeep.

Maybe it's something we should add in the library.

[2019-09-16 15:51] #95 closed

[2019-09-17 06:13] msuma268 commented on #89
Hi @manuquentin, I added logic to invoke setup on app launch and handled additional permissions required by sip client I am using , post which call screens are appearing as expected.

[2019-09-17 06:13] #89 closed

[2019-09-17 17:21] Chaitu4190 opened #99 "Image icon/logo doesn't display on system UI during the call."
# Bug report

- [X] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [ ] Android
 - [X] iOS

## Description

I am implementing this library for the call system. But while we are on call, I am not able to see the icon ongoing call screen.
[code]
I am here attaching the screenshot and the app ico

[2019-09-18 09:50] grit96 opened #101 "didActivateAudioSession not being triggered on Android"
This is due to `ACTION_AUDIO_SESSION` being sent with an attribute of `null`.

See `sendCallRequestToActivity(ACTION_AUDIO_SESSION, null);` [here](https://github.com/react-native-webrtc/react-native-callkeep/blob/46b9a488f737a002d73327847a8d8190f171754a/android/src/main/java/io/wazo/callkeep/VoiceConnection.java#L103) and [here](https://github.com/react-native-webrtc/react-native-callkeep/blob/287

[2019-09-20 12:13] #91 closed

[2019-09-20 13:33] Chaitu4190 opened #103 "Speakers turn on by default while receving incoming call."
# Bug report

- [X] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [ ] Android
 - [X] iOS

## Description
I am integrating this library. What I am facing is when I receive any incoming call, my call goes on speaker mode by default. How can I starts with normal mode, and change it to a speaker

[2019-09-21 10:37] reactdevrocks commented on #82
how to do that because your code implementation is in manifest file too. So how to do that @manuquentin

[2019-09-22 18:06] jfojtl opened #104 "[ios] when accepting first call, screen says call cancelled and shows new call"
# Bug report

- [x] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [ ] Android
 - [x] iOS

## Description

When user receives a first call via VoIP notification, when user clicks on green button to accept a call, the CallKit shows briefly "call cancelled" and show a new CalKit. When user kill

[2019-09-22 18:16] jfojtl opened #105 "when I call displayIncomingCall witth parameter video, it still shows audio in CallKit"
# Bug report

- [x] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [ ] Android
 - [x] iOS

## Description

No matter how I configure callkeep lib and call displayIncomingCall, it always shows "<app> audio". Our users expect to show video when it is video call and for example viber or whatsapp

[2019-09-23 21:56] jfojtl commented on #104
If this is not known, I would appreciate a hint at how to debug this - I am not a native developer and what makes it worse is the fact that the simulator does not support CallKit :(

[2019-09-25 12:20] ahmadworks opened #106 "Can't build app after updating to 3.0.2 - Use of undeclared identifier"
Just updated to 3.0.2, updated AppDelegate.m according the the updated readme

but I got these errors after adding this function.

No known class method for selector 'didReceiveIncomingPushWithPayload:forType:'
Use of undeclared identifier 'callerName'
Use of undeclared identifier 'handle'
Use of undeclared identifier 'uuid'

[code]

[2019-09-25 12:27] manuquentin commented on #106
Hi @ahmadworks !
As the comment says, it's up to you to fetch there variables from your push payload.

[2019-09-25 12:47] ahmadworks commented on #106
Thanks for making this clear, I still can't build the app. Got this error:

Collection element of type 'BOOL' (aka 'bool') is not an Objective-C object
in RNCallKeep.m near line 345

[2019-09-25 13:04] manuquentin commented on #106
Ok I see the issue, can you check with the `3.0.3` version please ?

[2019-09-25 13:10] ahmadworks commented on #106
It's working now, but can you please explain why should I add this function to AppDelegate.m
[RNCallKeep reportNewIncomingCall:uuid handle:handle handleType:@"generic" hasVideo:false localizedCallerName:callerName fromPushKit: YES];

and what behavior will change in CallKit if I don't add it?

[2019-09-25 13:14] manuquentin commented on #106
Like the documentation says :
`Since iOS 13, you'll have to report the incoming calls that wakes up your application, like in your AppDelegate.m`

If you make VoIP push on ios to wake up your application when killed or in background since a long time (~5/15mn), you should call this method to inform Apple that you're making a VoIP push to make a call.

If you don't Apple will stop sending VoIP push

[2019-09-25 13:17] ahmadworks commented on #106
Ok, thanks.
But is mandatory to include caller name while reporting incoming calls. since I can't figure out how to get the caller display name from the notification payload, I can get it in react native and class but can't get it in AppDelegate.m.
Can I just use a fixed name like MyAppName to report call to apple?

[2019-09-25 13:26] manuquentin commented on #106
If your server send the push when your user receive a call, it can send in the push payload who is calling.

But if you can't know server-side, I think you can make the caller number as the caller name and update it after with `updateDisplay` in your react-native code base.

[2019-09-25 14:07] ahmadworks commented on #106
I can build the app in V3.0.2 but when I run RNCallKeep.displayIncomingCall the app freezes without any error messages. It was running perfect for the last 3 months.

[2019-09-25 14:27] ahmadworks commented on #106
App freezes on development only because you added breakpoint at line 345 in version 3.0.2

[2019-09-26 03:18] ahmadworks opened #107 "[iOS 13] callKit displayed from AppDelegate.m before incoming call listeners"
After updating to 3.0.3 and updating my code to meet iOS 13 requirements so CallKit is reported from AppDelegate. But the problem is that when app is closed or in background, the callKit displays very fast before my call class get loaded. So the callKit is shown on screen before listeners are ready and if I accept or reject the call immediately nothing happened. I need to wait for 3 seconds until

[2019-09-26 12:12] manuquentin commented on #107
Hi @ahmadworks.
It's the normal behaviour since in ios 13 we should report all calls coming from a VoIP push.
Please refer to the [doc about it](https://github.com/react-native-webrtc/react-native-callkeep#pushkit) and the [corresponding PR](https://github.com/react-native-webrtc/react-native-callkeep/pull/86).

[2019-09-26 12:32] #99 closed

[2019-09-26 12:35] danjenkins commented on #99
@Chaitu4190 can you write on here how you fixed the problem? for others when they come to this issue?

[2019-09-26 12:44] ahmadworks commented on #107
I don't think this should be the normal behaviour even after iOS 13, I can report to call but the call should appear on screen only after the app knows how to deal with the call. in current case what should happen if user quickly tapped answer before the app knows how it should handle the answer and reject.

[2019-09-26 13:58] alwsBgood commented on #97
You have to make an integration between callKeep and sip; Open your app and register sip account on notification; Then when you get an actual call data from sip, show callKeep incoming call; And use listeners; Smth like this:
`export const initCallKeep = () => (dispatch, getState) => {
  // return new Promise.resolve();
  return new Promise((resolve, reject) => {
    const options = {
      ios: {

[2019-09-26 16:12] Chaitu4190 opened #108 "iOS13: Outgoing call not working from call log."
# Bug report

- [X] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [ ] Android
 - [X] iOS

## Description
I have implemented callkeep package 3.0.3, incoming call works fine. But when I tap on my number from the call log, nothing happens. The same thing works fine on iOS 12 and package versio

[2019-09-26 18:51] bhuangy commented on #108
Looks like userActivity.activityType is now coming as a generic INStartCallIntent on iOS 13, so the isAudioCall and isVideoCall checks are no longer valid.
We should adapt with changes like this
https://github.com/signalapp/Signal-iOS/blob/master/Signal/src/AppDelegate.m#L928

[2019-09-26 19:21] Chaitu4190 commented on #108
I am not using RNKeepCall, so I have my AppDelegate like this,
[code]
But my log never prints "continueUserActivity" and when tap on call log, it doesn't even open the app.
I also tried with
[code]
But still method doesn't get called and my app doesn't get open from call log.

[2019-09-26 19:34] kylekurz commented on #108
@Chaitu4190 that latest comment sounds like an app configuration issue on your end (do you have the appropriate NSUserActivityTypes flags in your Info.plist?), not an RNCallKeep issue then.

However, we were able to determine there's a real issue here with the way RNCallKeep handles that user activity once it's passed down to the dependency. We'll be opening a PR for that fix soon, hopefully that,

[2019-09-27 07:31] Chaitu4190 commented on #108
@kylekurz @bhuangy ,
Here I am attaching my info.plist file's code.
[code]
But still my app doesn't get open from calllog, as I said it was opend on iOS 12 even without this info.plist's above value.
And AppDelegate.m file is as per above.
Am I missing something else? Please take a look.

[2019-09-27 11:29] bmp123 commented on #59
Hi guys, I have the same issue. RNCallKeep.displayIncomingCall work good if app active or background, but if app killed RNCallKeep.displayIncomingCall not show.
I use
react-native-voip-push-notification: "1.1.4"
react-native-callkeep: "^3.0.3"
react-native: "0.60.5"
ios: 13
Can someone know this issue?

[2019-09-27 12:01] manuquentin commented on #59
Hi @bmp123 @jaswantjatav,
Maybe it's related to ios 13, can you check with [this PR](https://github.com/react-native-webrtc/react-native-callkeep/pull/109) ?

[2019-09-27 15:15] kylekurz commented on #108
@Chaitu4190 that looks correct. Unfortunately, without access to your app, all we can really say at this point is "works on my machine", ha. Please do try @bhuangy's PR #109 and see if that fixes your original issue. It did fix our app and, I believe, should fix the example app as well. If the user activity never gets to the RNCallKeep code, however, that's not something we can control or fix.

Pl

[2019-09-27 21:37] #108 closed

[2019-09-28 13:33] whenmoon opened #110 "How to 'do something' after answering call on Android?"
Please excuse my potential mis-interpretation of the documentation, but it does not seem obvious how to _'do something'_ after answering an incoming call.

On Android, I have successfully called `displayIncomingCall`, but I am having the same results as detailed in [this](https://github.com/react-native-webrtc/react-native-callkeep/issues/88) issue. I want to call a function when the called is ans

[2019-09-28 13:39] manuquentin commented on #110
Hi @whenmoon,
I don't understand, you want to know when the call is answered in the UI ? For that you have the [answerCall](https://github.com/react-native-webrtc/react-native-callkeep#--answercall) event.

[2019-09-28 13:54] whenmoon commented on #110
Hi @manuquentin, thanks for the quick response - I should have provided some more context.

I have successfully used the `answerCall` event but I get two incoming call dialogs / UIs.

The first is this one:

<img width="419" alt="Screenshot 2019-09-28 at 15 48 15" src="https://user-images.githubusercontent.com/33122888/65817482-b9b7f500-e207-11e9-8cc9-a75584e3d5f7.png">

After clicking `answer`, t

[2019-09-28 14:11] manuquentin commented on #110
Are you calling `displayIncomingCall` a second time ?
Have tou check the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) folder to see if you've the same issue ?

[2019-09-28 15:50] whenmoon commented on #88
@danwhite-ad Did you manage to find the problem?

[2019-09-28 16:34] whenmoon commented on #110
@manuquentin I've tested the example and have made a [screen recording](https://filebin.net/i76dc13px4wknyuk/WhatsApp_Video_2019-09-28_at_6.18.13_PM.mp4?t=k0lu0xuj) - as you can see both incoming call interfaces are displayed one after the other.

I think what my issue might be is that ultimately what I want to happen is that when a call is answered by accepting the call, the incoming call interfa

[2019-09-29 10:12] whenmoon commented on #57
I am looking for this too. Since my app calls the `displayIncomingCall` method, it seems logical that when the call is answered or rejected, the user is directed back to the app that the call came from, just like Skype, WhatsApp and the rest.

[2019-09-30 10:44] Chaitu4190 commented on #108
@kylekurz , @bhuangy
Let me describe more in this.
I have noticed that, call-log to myApp redirection works fine when I add `RNCallKeep.displayIncomingCall()` method in my relevent js file. But as from ios 13 we have to call `[RNCallKeep reportNewIncomingCall]` method from appDelegate file, so I commented displayIncomingCall method, and in that case call-log to app redirection stopped.
Here I am a

[2019-09-30 12:37] manuquentin commented on #106
Hi @ahmadworks, can I close this issue ?

[2019-09-30 12:37] #90 closed

[2019-09-30 12:38] manuquentin commented on #22
Hi @carlmagumpara, what is the status of this issue ?
You can now check the [example folder](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to see if your codebase match it.

[2019-09-30 12:39] manuquentin commented on #21
Hi @bmp123, what is the status of this issue ?
Can you check the [example folder](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to see if your codebase match it.

[2019-09-30 12:41] manuquentin commented on #26
Hi @krajay015, @raeesbhatti and @rcidt.
W have now an [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example), can you check if you still reproduce the issue with it ?

[2019-09-30 12:44] manuquentin commented on #46
Already [done here](https://github.com/react-native-webrtc/react-native-callkeep/blob/fe2f39d0cdf793cd1e7abb0ef7e31c46ee07d0cd/index.js#L21)

[2019-09-30 13:36] danjenkins commented on #46
@manuquentin oh how did I miss that? I'm going to re-open this and make it about documentation then. Users shouldn't have to read code to figure it out!

[2019-09-30 15:23] kylekurz commented on #108
@Chaitu4190 I think you're confusing two parts of this API surface. I'll try to explain as clearly as I can, maybe something I say will help you solve your issue.

1. RNCallKeep.displayIncomingCall should only be used on INBOUND phone calls. Not on every call. The changes we put into this dependency with PR #86 are specifically to keep iOS from killing apps that use the RNCallKeep dependency to do

[2019-09-30 15:42] danwhite-ad commented on #88
It turned out to be an issue with our sip instance, not related to the package. Thats why I closed the issue soon after opening.

[2019-09-30 17:23] bhuangy opened #112 "[iOS 13] Recent changes to continueUserActivity break XCode 10"
# Bug report

- [X] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [ ] Android
 - [X] iOS

## Description
The changes to use INStartCallIntent break XCode 10 as it cannot find the class. We are currently investigating to see if we can check against the XCode version to avoid breaking the buil

[2019-09-30 17:30] kylekurz commented on #112
This was totally our fault, but it's probably a good time to talk about setting up some CI for this project to avoid things like this. Having a CI system that builds against Xcode 10 and Xcode 11 woulds have triggered a failed build and we could have decided to either keep it out or do another major rev, as it's a breaking change.

@manuquentin do you want to have that discussion here, or in an em

[2019-09-30 19:13] danjenkins commented on #112
Travis offers multiple versions of xcode and is free of charge for open source projects. Can it be that simple?

[2019-09-30 19:16] sboily commented on #112
Please discuss it here or in another thread on Github. But we need to have this discussion public.

[2019-09-30 19:17] danjenkins commented on #107
@ahmadworks this is needed for ios13 so we need to think collectively about how to work around that issue. I think from my perspective we need the native side to know that the JS bridge isn't up yet and so wait until it is and then emit the event of "yes someone accepted the call"

[2019-09-30 20:42] kylekurz commented on #112
@bhuangy has a PR up on our fork to fix this, so I think we can rectify the error. I do think adding Travis integration, at least for building the example, is necessary. @manuquentin / @sboily can you guys handle setting that up since you own the repo? From there, we can enforce build success and test code coverage as part of PR acceptance moving forward. I think this one we got lucky, but we shou

[2019-10-01 21:01] chrisnta commented on #99
+1

[2019-10-01 21:34] Prussich commented on #107
@danjenkins  also to emit UUID data of active CallKit call (for example, to update the incoming call display). Because RN doesn't know the current UUID call after the bridge is up. didDisplayIncomingCall not called (error "Sending 'RNCallKeepDidDisplayIncomingCall' with no listeners registered.)

[2019-10-01 23:41] manuquentin commented on #107
@Prussich you have to listen to the events at the very beginning of the loading of your app (eg. in the `index.ios.js`). You'll next have to wait for you WebRTC call to be set up before really answer it.

[2019-10-02 09:25] bmp123 commented on #21
@manuquentin  Hi, sorry for the delay. I will check in the near future

[2019-10-02 09:27] bmp123 commented on #59
@manuquentin PR helped

[2019-10-02 09:31] bmp123 commented on #107
Is it possible to implement dnd mode with RNCallKeep? how can I use rejectCall if receive voip push?

[2019-10-02 10:25] danjenkins commented on #107
@bmp123 please create a new issue for that :)

[2019-10-02 10:28] bmp123 opened #114 "[iOS 13] rejectCall in AppDelegate.m"
Is it possible to implement dnd mode with RNCallKeep in AppDelegate.m? how can I use rejectCall if receive voip push?

[2019-10-02 12:24] manuquentin commented on #59
Ok good 👌 Can I close this issue ?

[2019-10-02 12:30] manuquentin commented on #114
Hi @bmp123, what do you mean by do not disturb mode ? I haven't tested yet but if your phone is in Do Not Disturb mode, callkeep should not be allowed to display the incoming call UI, your user won't see any call.

If you want to handle Do Not Disturb in your app, it's your server that should handle this and it shouldn't send the push.

Call displayed with pushkit have the `fromPushKit` parameter

[2019-10-02 12:39] bmp123 commented on #114
Hi @manuquentin, when I receive voip push app must report of new call and user see call before I can use endCall in js. But can I use reject call function and don't get ban from callkit system?
I have information about do not disturb only on my app.

[2019-10-02 12:42] bmp123 commented on #114
I know It's not best practices, but server send viop always if user not online.

[2019-10-02 13:21] manuquentin commented on #114
It's up to you app to tell the server that your user is in dnd mode. And then it's the server role to not send the push.
If you reject a call, Apple won't ban you. They'll ban you only if you use PushKit and don't display an incoming call quickly.

[2019-10-02 13:54] Prussich commented on #107
@manuquentin
As I see it:
1) App wake up after receive VoIP-Push.
2) App calling reportNewIncomingCall from VoIP-push delegate (as quickly, as Apple asks)
[code]
RN bridge still not live. And there are no CallKeep listeners yet.
3) RN bridge is started. The RN part with CallKeep listeners starts up.

But, RNCallKeepDidDisplayIncomingCall was not called and RNCallKeep doesn't know which uuid was us

[2019-10-02 17:39] vivekshah-zymr commented on #108
@kylekurz , Thanks for the reply. But still it doesn't solve my problem. (Not able to make outgoing call when I press the number of my app from call-log)

I am describing how I implemented whole things.I have used `react-native-voip-push-notification` for the push notifications, which is implemented for incoming calls.

**Incoming call**: It works fine on iOS 13.

AppDelegate.m
[code]

Home.js
[co

[2019-10-02 17:41] Chaitu4190 commented on #108
@kylekurz , Thanks for the reply. But still it doesn't solve my problem. (Not able to make outgoing call when I press the number of my app from call-log)

I am describing how I implemented whole things.I have used `react-native-voip-push-notification` for the push notifications, which is implemented for incoming calls.

**Incoming call**: It works fine on iOS 13.

AppDelegate.m
[code]

Home.js
[co

[2019-10-02 20:55] manuquentin commented on #56
@danjenkins can we close this issue ?

[2019-10-02 20:56] manuquentin commented on #72
Hi @ThomasLarge, have you take time to check ?
We have now an [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example), can you check if you still reproduce the issue with it ?

[2019-10-02 20:57] manuquentin commented on #75
Hi @zlenkoriseapps
W have now an [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example), can you check if you still reproduce the issue with it ?

[2019-10-02 20:57] danjenkins commented on #56
Yes!

On Wed, 2 Oct 2019, 21:55 Emmanuel Quentin, <notifications@github.com>
wrote:

[2019-10-02 20:57] #56 closed

[2019-10-03 13:42] rohitvc commented on #95
@renefs did you managed to solve the problem ?  I am facing the same issue as well.
When app is in killed state, i send "silent notification" which wakes the app and calls headless task file 'bgMessaging.js'.
Inside this file i have done things as follow,
1. create a new endpoint and store data (accounts, endpoint instance in redux store) (success)
2. register SIP account so that i can receive the

[2019-10-03 13:53] renefs commented on #95
@rohitvc I'm afraid I'm still facing this problem, but it seems it doesn't block the rest of the code to work. May I ask you how do you access the redux store from the headless js?

[2019-10-03 16:13] rohitvc commented on #95
@renefs I am not accessing redux store from headless js but from main App.js file by calling INIT function from outside of the App component which loads when silent notification wakes the app.

Right now i am successfully able to register SIP account on receiving the silent notification and i can see that call is also received inside the app from logs but Callkeep is not getting registered properl

[2019-10-03 16:19] manuquentin commented on #95
Hi @rohitvc,
I receive the `Activity doesn't exist` message but in a yellow box, meaning that it's just a warning and the callkeep UI is well displayed.
Do your register to Callkeep events too ? What device are you using ?

[2019-10-03 22:34] bhuangy opened #115 "checkReachability waking up app twice when calling while killed"
# Bug report

- [X] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [X] Android

## Description
I'm a little confused on the flow using checkReachability. While the app is killed, and we initiate an outgoing call, we do not receive an event in JS telling us to call setReachable(), and so we te

[2019-10-04 13:12] Prussich commented on #107
@manuquentin I also try to listen to the events at the very beginning of the loading of my app:

At the top of index.ios.js:
[code]

and I don't see any event records in log file about "onIncomingCallDisplayed". In the native part, sending the onIncomingCallDisplayed event fires earlier than there is a subscription to the event in JS. Any ideas how to fix this?

[2019-10-04 13:14] manuquentin commented on #107
@Prussich there is a timeout to work around this issue [here](https://github.com/react-native-webrtc/react-native-callkeep/blob/master/ios/RNCallKeep/RNCallKeep.m#L19).
The app will wait 5s in release and 10s in debug before [sending the event](https://github.com/react-native-webrtc/react-native-callkeep/blob/master/ios/RNCallKeep/RNCallKeep.m#L525).

Here the event triggered too soon event with t

[2019-10-04 14:04] Prussich commented on #107
Good idea! But it work around for the **outgoing call** (RNCallKeepDidReceiveStartCallAction event).
I 'll try to make the same implementation with the timeout for **incoming calls** for the RNCallKeepDidDisplayIncomingCall event in RNCallKeep.m.

[2019-10-04 23:34] #105 closed

[2019-10-07 05:55] artechventure commented on #110
@whenmoon  Any solutions? We are facing this issue too. How to open my app after answering call?

[2019-10-07 06:01] artechventure commented on #57
Any progress? I facing this too.

[2019-10-07 15:52] rohitvc commented on #95
Hey, @manuquentin sorry for late reply, i was able to make it work even after getting the error `Activity doesn't exist`

No as i checked, the error did not stop the application and rest of the app code runs fine.
In my case, the problem was setTimeout which was stopping the execution of the entire code and causing the problem.
JS setTimeout does not work inside headless task as expected and also

[2019-10-07 18:21] #112 closed

[2019-10-07 18:34] kylekurz opened #116 "CI for stability and PR verification"
We closed the bug ticket that originated this conversation, but I really think this is something we should get started on. As owners, I think @manuquentin or @sboily needs to set up the initial link with Travis (they provide tremendous resources for OSS projects and are the clear choice to me, but that can be discussed here too). Once the initial setup is in place, probably just verifying building

[2019-10-07 18:36] sboily commented on #116
Hello @kylekurz, well... sorry, i'm completely busy this last days, i will discuss with @manuquentin tomorrow.

[2019-10-07 18:37] kylekurz commented on #116
No worries. Just making sure it doesn't get lost in the shuffle. :)

[2019-10-08 08:41] #84 closed

[2019-10-08 11:12] godwin12345 opened #117 "Type Error"
I'm calling this function
**RNCallKeep.displayIncomingCall(this.getCurrentCallId(), getRandomNumber(), getRandomNumber(), getRandomNumber(), true);**

I'm getting this

Error in listener proxiedMethod: TypeError: null is not an object (evaluating 'RNCallKeepModule.displayIncomingCall')

"react-native": "0.60.5",

How to fix it

[2019-10-08 11:17] sboily commented on #117
Hello, we are not supporting react-native 0.6X currently.

[2019-10-08 14:22] Chaitu4190 commented on #108
@kylekurz , Can you please check my last comment?

[2019-10-08 18:19] whenmoon commented on #110
Hi @artechventure, I have come to the conclusion that react-native-callkeep is not useful in providing a call answering interface for my app. Yes, it allows you to show the native incoming call dialog / display, but it is not designed it seems to offer the kind of functionality we're looking for which is a shame. I will keep using it but only to notify the phone subsystem of 'phone call events'. W

[2019-10-08 19:12] manuquentin commented on #116
I've started a branch (#118) but it seems not straightforward. I'll work on it when I'll have time.

[2019-10-09 16:28] kylekurz commented on #108
@Chaitu4190 I haven't had time to really attempt to reproduce your issue, as we've been pushing our app live this week. If uncommenting `RNCallKeep.displayIncomingCall` in your Home.js "fixes" outgoing calls, however, you have some logic error in your codebase. That shouldn't be involved in outbound calls at all.

If you set a breakpoint in Xcode at `NSLog(@"In restorationHandler====");` in AppDel

[2019-10-10 02:41] artechventure commented on #110
@whenmoon Thanks for answering. I removed react-native-callkeep from my android too, and made custom CallingActivity using react-native-firebase.

[2019-10-11 07:58] danwhite-ad opened #119 "Question: Android - How to update call when app is in background"
# Question

- [x] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [x] Android
 - [ ] iOS

## Description
I would like to understand what mechanisms others have used to update a call on android while the app is in the background. I require to notify CallKeep that the remote party has answered o

[2019-10-11 08:19] jaydeep1992 commented on #110
@artechventure  We are also facing same issue. It would be great if you can give more details on how you have overcome this issue.

[2019-10-11 08:45] danjenkins commented on #110
You could add to callkeep and add the "self managed" mode to callkeep @jaydeep1992 - its an open source project :) Doesn't look like it's too different from the "system managed" mode that we currently use.

[2019-10-11 08:58] jonastelzio commented on #110
I've got a working fork of callkeep that works in Android Managed mode: https://github.com/Telzio/react-native-callkeep/compare/master...Telzio:feature-android-self-managed

I'm planning on doing a pull request with this when I've done some other things in my app, and there are some changes that I need to discuss with the maintainer of callkeep in regards to permissions as well.

Answering the cal

[2019-10-11 10:03] artechventure commented on #110
@jaydeep1992 By using react-native-firebase messaging (you need to customize some java files in it), and react-native-incall-manager, you can solve things. But if your project is not using firebase, solutions above seems better to me.

[2019-10-11 14:10] Chaitu4190 commented on #108
@kylekurz , Thanks for this follow up. I am not able to give you the repo access. But if you are available for few minutes, we can have a zoom call, and I can show the things or share few of the files. Anytime would be fine for me. Let me know if that's convenient for you as well.
Thanks in advance.

[2019-10-11 14:13] rohitvc commented on #25
Hey guys, i am also facing this issue on IOS. I am able to receive the call on Native Dialer and when i click receive, i am sent back to the app and dialer is active in background with timer running.

When i switch back to native dialer which is in background from the app, the call timer is still running, but caller is still trying to connect (i mean call is not connected yet) and clicking decline

[2019-10-14 05:44] msuma268 opened #120 "Document all disconnect causes on Android/iOS"
- Reproduced on:
 - [ X] Android
 - [ ] iOS

## Description
I have requirement to show Missed call notification if user doesnt answer the call in x seconds. However, reportEndCallWithUUID method in Android supports only DisconnectCause.ERROR, DisconnectCause.REMOTE and DisconnectCause.BUSY. Is there any way we can end the call with DisconnectCause.MISSED so that incoming call is disconnect and mis

[2019-10-14 09:40] ThomasLarge commented on #72
Sorry @manuquentin haven't had the time to do this yet as we moved away from using this. It is on my list and will take a look when I have time

[2019-10-21 15:15] ElGatoLoco opened #121 "Type definition for supportsVideo"
# Bug report

- [ ] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [] Android
 - [*] iOS

## Description

`IOptions` interface defines ios option `supportsVideo` as strictly `false` and as such breaks tsc if the option value differs.

## Steps to Reproduce

Define an object of type `IOptions`

[2019-10-24 04:23] danghung24031992 opened #122 "[iOS] didActivateAudioSession not fire from kill app"
I try listen event didActivateAudioSession but not working

[2019-10-24 16:06] danwhite-ipc opened #123 "Audio not returning after call is resumed"
# Bug report

- [ ] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [ ] Android
 - [X] iOS

## Description
When a call is resumed from a held state I am not getting audio back, unless I use InCallManager to toggle the device speaker.

## Steps to Reproduce
- Place Call On Hold
- Hold Call
- Re

[2019-10-24 16:11] danjenkins commented on #123
Which underlying technology/module are you using for your media?

On Thu, 24 Oct 2019, 17:06 Dan White, <notifications@github.com> wrote:

[2019-10-24 18:47] danwhite-ad commented on #123
Using react-native-webrtc and jssip

[2019-10-24 19:29] danjenkins commented on #123
Which version of react native webrtc?

On Thu, 24 Oct 2019, 19:48 Dan White, <notifications@github.com> wrote:

[2019-10-24 23:53] pravinjohn commented on #107
Hello, please do share if anyone got a solution for this. Thanks!

[2019-10-25 07:34] danwhite-ad commented on #123
Version: 1.69.2

[2019-10-25 11:24] danjenkins commented on #123
Yup check out PR #80 :) You need to be running 1.75 of RN-WebRTC - however the latest version might not work as @saghul had to disable the flag in the SDK as it was causing crashing. So test out RN-WebRTC 1.75 (not 1.75.1) and see if that fixes things. If it does - try upgrading to 1.75.1 for me and see if disabling the flag has any affect (I haven't test it yet)

[2019-10-25 11:31] danjenkins commented on #122
Can you give some more information?

[2019-10-25 11:34] danghung24031992 commented on #122
Sorry , this is my wrong.Thank supports

[2019-10-25 11:34] #122 closed

[2019-10-25 13:59] danwhite-ad commented on #123
v1.75 works but upgrading to v1.75.1 doesn't work.

[2019-10-25 14:14] saghul commented on #123
That's unfortunate :-( We saw thousands of crashes, so I don't recommend staying on 1.75.0. I reported this to Google and since it's a field trial I don't have much hope TBH.

[2019-10-25 14:21] danwhite-ad commented on #123
So what are my options? If I can't stay on 1.75.0.

[2019-10-25 14:55] saghul commented on #123
I wish I knew.

[2019-10-26 18:13] pravinjohn commented on #107
The following seems to be working.
1. Make sure it set callkeep and call related (voximplant/webrtc in my case) event listeners as soon as the app loads.
2. In RNCallKeep.m:
2.a. Delay --> sendEventWithName:RNCallKeepDidDisplayIncomingCall
`callInDateAndTime = [NSDate date];
[RNCallKeep initCallKitProvider];
    int delayInSeconds2 = 5;
    [sharedProvider reportNewIncomingCallWithUUID:uuid update

[2019-10-30 09:52] manhquyen opened #124 "Custom UI IncomingCall"
# Bug report

- [ ] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [ ] Android
 - [ ] iOS: 13

## Description
Can I custom UI IncomingCall

## Steps to Reproduce

## Versions
    - Callkeep: 3.0.6
    - React Native: 0.60.4
    - iOS: 13
    - Android:
    - Phone model:

## Logs

[code]

[2019-11-05 07:28] jasonkang14 opened #125 "[iOS] displayIncomingCall throws an error: parameter 'localizedName' cannot be nil'"
# Bug report

- [#] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [ ] Android
 - [#] iOS

## Description
When I call RNCallKeep.displayIncomingCall() using parameters described in the read me like below, I get an error saying that `parameter 'localizedName' cannot be nil'`

## Steps to Repro

[2019-11-05 07:31] jasonkang14 commented on #125
there was a typo. the current version of react-native is `0.59.1`

[2019-11-05 08:31] jasonkang14 commented on #125
solved it by looking at issues that other people have opened

[2019-11-05 08:31] #125 closed

[2019-11-06 10:24] buitunglam opened #126 "Can not install on ios ( 'React/RCTEventEmitter.h' file not found)"
## Issue
- I can not install on ios. it's always showing this error :  'React/RCTEventEmitter.h' file not found). anyone have this issue plz help me!! any help is appreciated

[2019-11-06 20:38] OriAmir opened #127 "call keep when device sleep / app close"
hi , I new in react native and I see this section 'Receiving a call when the application is not reachable' on docs but i can't understand yet how i implement notification in my app.
I need some push notification / callkeep when device is sleep/application is close.
The problem is that this library https://github.com/react-native-webrtc/react-native-voip-push-notification looking like deprecated an

[2019-11-07 07:47] dmytrodernoviy commented on #127
You must use VoiP push notification, if you want wake up you app for IOS. For Android you can use bgMessaging by firebase, read docs for that

[2019-11-07 12:38] OriAmir commented on #127
@dmytrodernoviy tnx.
So I have to implement myself? or there is another good library?  because this library you offer in the DOCS that done that : https://github.com/react-native-webrtc/react-native-voip-push-notification looks not active any more?
or , maybe I have another idea?

[2019-11-07 13:12] dmytrodernoviy commented on #127
VoiP push notification library only for IOS, for android use that https://rnfirebase.io/docs/v5.x.x/messaging/receiving-messages
Also you can send silent push or data only message on background and wake up you app

[2019-11-08 12:23] danjenkins commented on #123
Try 1.75 and see if you get those crashes - I'm.not seeing them myself but I don't have thousands of users like @saghul

[2019-11-11 16:25] danjenkins commented on #127
And for iOS I know people use that lib - I use wix/react-native-notifications personally. Closing

[2019-11-11 16:25] #127 closed

[2019-11-11 16:26] danjenkins commented on #126
Can you give us any more information about which React Native version you are running etc? Closing for now

[2019-11-11 16:26] #126 closed

[2019-11-11 16:29] danjenkins commented on #124
Hi @manhquyen

Custom UI is not possible on iOS.
It is on Android within the OS - theres already a frature request to be able to support that in callkeep - a community contributor had a branch in a fork thats mostly working - but no support on it for now - https://github.com/react-native-webrtc/react-native-callkeep/issues/110#issuecomment-540979760 - feature request lives in #43

[2019-11-11 16:29] #124 closed

[2019-11-11 16:35] danjenkins commented on #120
@msuma268 the module just passes the reason integer onto the OS

This means you can pass through the Integers that correspond with the Disconnect Causes. Maybe we can make this easier by adding those as constants in the callkeep module so you could do `callkeep.reportEndCallWithUUID('uuid', callkeep.REASON_MISSED)` - (pseudocode!)

But for now, you can do what you want, just pass in `5` as thats t

[2019-11-11 16:37] danjenkins commented on #119
@danwhite-ad I don't quite understand - your app is backgrounded but still running and so all of your logic still works from your react native app. When the call is answered, from your app call the relevant callkeep API to say that its been answered etc

[2019-11-11 16:39] danjenkins commented on #117
@godwin12345 there are ways to make this module still work with React Native 60 - use https://www.npmjs.com/package/jetifier for example and it should help you!

Closing for now

[2019-11-11 16:39] #117 closed

[2019-11-11 16:41] danjenkins commented on #114
Closing as it seems @manuquentin has explained the issue with Pushkit and how you dont have to show the UI etc, you'll only get into trouble if you use callit without using pushkit

[2019-11-11 16:41] #114 closed

[2019-11-11 16:42] danjenkins commented on #110
For now im going to close this issue because the feature request  to support your own screens in Android is open under #43

If anyone disagrees let me know

[2019-11-11 16:42] #110 closed

[2019-11-11 16:45] danjenkins commented on #106
Closing

[2019-11-11 16:45] #106 closed

[2019-11-11 16:47] danjenkins commented on #103
@Chaitu4190 Can you give any more information? Are you using any other libs that change audio modes etc? This module doesn't play around with audio modes directly. Its up to you to do so. Are you specifying your call as a video call? I think that causes iOS to turn on speakerphone? Closing as this module doesn't touch audio modes in the audio session but we can try and help further. But this isn't

[2019-11-11 16:47] #103 closed

[2019-11-11 16:48] danjenkins commented on #97
Closing

[2019-11-11 16:48] #97 closed

[2019-11-11 16:54] danjenkins commented on #75
Closing due to no response since @manuquentin 's example app comment. Sorry I didn't get back to you - you know how life is!

[2019-11-11 16:54] #75 closed

[2019-11-11 16:55] danjenkins commented on #72
Going to close this, if its still an issue elsewhere please re-open

[2019-11-11 16:55] #72 closed

[2019-11-11 16:57] danjenkins commented on #22
Going to close this as no activity since Feb from the author

[2019-11-11 16:57] #22 closed

[2019-11-11 16:59] danjenkins commented on #26
hopefully this has been fixed due to v3 which was a big change. Closing for now as none of us who use the module day in, day out get this issue

[2019-11-11 16:59] #26 closed

[2019-11-11 17:01] danjenkins commented on #57
To do this properly really relies on you having a managed connection on android - theres a Feature request in #43 so im going to close this

[2019-11-11 17:01] #57 closed

[2019-11-11 17:03] danjenkins commented on #59
Closing!

[2019-11-11 17:03] #59 closed

[2019-11-11 19:56] #101 closed

[2019-11-12 09:42] danjenkins commented on #120
Need to check that the reason integers are the same across both platforms, and if theyre not then we need to change the constants such as `callkeep.REASON_MISSED` so that theyre right for each platform

[2019-11-12 10:41] danwhite-ad commented on #119
My app uses redux to provide the application with the list of calls and an example of my question is... When the remote party hangs up, redux removes the call from my collection but because the app is in the background during a call (on Android) the redux code is not processed so I am unable to notify the connection service that the remove party has ended the call.

[2019-11-13 08:02] ken0x0a commented on #127
@danjenkins Would you let me know how to integrate "react-native-notifications" with **iOS 13** as it requires to display CallKit from native code and I couldn't make it work.

[2019-11-13 21:22] danjenkins commented on #127
@ken0x0a I'm not using v2 of react native notifications so I can only say how I got it working with v1.5 - need to look at their docs for v2 because they've hidden some things internally that need to be exposed, I think.

[2019-11-15 17:20] rcidt commented on #123
I am experiencing this same thing. When if a call comes in while on another call, if you select Hold+Answer, the audio is lost on both calls.

I am using PJSIP.

[2019-11-15 19:37] danjenkins commented on #123
hi @rcidt your issue is with react-native-pjsip rather than callkeep then - callkeep issues an event so pjsip needs to know to listen for that and deal with restarting the audio sessions :)

[2019-11-15 22:55] ryanmcclure4 commented on #125
@jasonkang14 Can you share which issues helped you to solve this?

[2019-11-16 05:56] jasonkang14 commented on #125
@ryanmcclure4 the problem was that I was not initializing `callkeep` in the screen in which I was using the method. after initializing `callkeep` it worked fine.

[2019-11-18 00:39] ken0x0a commented on #95
@grit96 Thank you so much!
Your instruction works perfect!

I moved `RNCallKeep.setup` inside `try/catch` and start working (but with alert `Activity doesn't exist`).

[2019-11-18 17:12] rcidt commented on #123
@danjenkins you are correct, I managed to solve this by explicitly enabling/disabling the Audio Session through PJSIP. Thanks!

[2019-11-18 17:54] ryanmcclure4 commented on #125
Great, that solved it for me as well 🎊

[2019-11-18 23:59] ryanmcclure4 opened #129 "[iOS] Outbound Call UI"
I've noticed that outbound calls never trigger the system CallKit ui. Is this intended behavior? I've seen topics like [this](https://github.com/react-native-webrtc/react-native-callkit/issues/13) that claim CallKit is only used for inbound calls when the app is in the background, or the screen is locked. However, the [docs](https://developer.apple.com/documentation/callkit) for CallKit state "For

[2019-11-20 12:45] andynel opened #130 "[iOS] Making calls from the native 'Recent' call list causes a crash"
# Bug report

- [ ] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [ ] Android
 - [x] iOS

## Description
When I click on a recent call item on my iPhone's native recent calls list (a call made by our VOIP application) the react-native app on the iPhone opens up and attempts to dial that numb

[2019-11-20 14:54] buitunglam commented on #126
sorry for reply lately. I already solve this issue with pod install one more time and run again.

[2019-11-21 14:08] danjenkins commented on #129
Hey @ryanmcclure4 yes it's how CallKit behaves. Callkit does indeed _operate_ on both inbound and outbound (ie stops a cellular call overtaking your "VoIP" call) but it doesn't show the UI on outbound calls

[2019-11-21 14:08] #129 closed

[2019-11-22 17:03] kylekurz commented on #130
Confirmed this with @danjenkins this morning. Looks like Apple went *back* to the old way of passing the intent:

`(lldb) p intent.callCapability
error: Execution was interrupted, reason: Attempted to dereference an invalid ObjC Object or send it an unrecognized selector.
The process has been returned to the state before expression evaluation.
(lldb) p [userActivity.activityType isEqualToString:IN

[2019-11-22 17:04] kylekurz commented on #130
FYI @manuquentin, we should probably add a thing to the default bug report form about what version of Xcode and Android Studio you're on, as that's also relevant from time to time.

[2019-11-22 17:06] kylekurz commented on #82
This should be closed. It's not a bug. If you use CallKeep, you *must* target API 23+.

[2019-11-22 17:50] danjenkins commented on #82
Closed! Executive decision made!

[2019-11-22 17:50] #82 closed

[2019-11-27 07:11] jbroquist commented on #130
@andynel I'm running into the same issue. Any luck in solving it yet?

[2019-11-28 07:01] andynel commented on #130
@jbroquist no luck yet unfortunately

[2019-12-01 20:50] manuquentin commented on #130
Same here with Xcode 11.2.1 (11B500) with an iPhone 7 (iOS 13.2.2) but not on a iPhone SE 13.1.3.

On iOS 13.2.2 the issue is in `RNCallKeep.m` line 474: `intent.callCapability` is not found. But it is in
`13.1.3`...

It should be fixed in #134 can you please test against this branch ?

[2019-12-04 05:59] jbroquist opened #136 "App crashes after displayIncomingCall with 'NSInvalidArgumentException'"
# Bug report

## Description
After calling `RNCallKeep.displayIncomingCall(...)` the incoming call screen is displayed and then the app immediately crashes.

## Steps to Reproduce
Pass `null` as the `localizedCallerName` parameter.

Examples:
[code]

## Versions
    - Callkeep: 3.0.8
    - React Native: 0.59.10
    - iOS: 13.2.3
    - Android:
    - Phone model: iPhone XS

## Logs

[code]

## Reac

[2019-12-04 08:04] jbroquist commented on #136
I worked around this by passing an empty string as the `localizedCallerName` parameter:
[code]

[2019-12-04 12:13] chrisnta commented on #136
Thanks, had the same issue and this fixed it for me!

[2019-12-04 12:58] wimco commented on #130
I just tested and it works off your branch `fix_call_capabilities_ios13_2`  @manuquentin

XCode Version 11.2.1 (11B53)
iOS 13.2.3

It previously did not work on Callkeep `3.0.6`

[2019-12-10 01:33] garronej commented on #119
Well for me on Android when the native UI is in the foreground the React Native app is still running in the sense that it will get the incoming WebSocket data etc. but all timers are disabled.
Is that expected behavior?

Because in my case, my app has to send a SIP UPDATE message every minute or the call is terminated.
I don't see any other ways than using setTimeout to schedule this action.

Do y

[2019-12-10 03:43] Chaitanya-Suryadevara opened #138 "Not Able to Show the Incoming Notification UI For Second Incoming Call When I am In Active Call On Android"
# Bug report

Android

- [ ] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

## Description

When I am trying to make the call on my app When it has the active session then the Incoming Notification is ending the Active call and also not showing any UI Notification for another call
But It is Showing the On IOS (A

[2019-12-11 09:36] danwhite-ad commented on #97
What is the required way now due to changes in behaviour with iOS 13, you can be in a situation where you get the Answer event before you even have the call. This is because the `reportNewIncomingCall` has to happen in the native `didReceiveIncomingPushWithPayload`

[2019-12-11 15:52] danwhite-ad commented on #107
Would it not be possible create a method `AnswerCall(UUID)` which calls `[action fulfill];` currently called within `performAnswerCallAction`, this way the app should show connecting until your app has managed to reconnect and retrieve the call and actually answer the call. I am not that familiar with native iOS code otherwise I would attempt to see if the concept is possible.

[2019-12-12 01:34] garronej commented on #119
I found a workaround: I start a Headless JS task when the call begins, the task resolve when the call ends.
This way the timers callbacks keep being executed when the native UI is in the foreground.

[2019-12-15 03:49] quangtrung2503 opened #139 "[ios < 13] crash after add PushKit function for ios 13"
# Bug report

- [x] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [x] iOS

## Description
 For ios 13, i add

## Steps to Reproduce

## Versions
    - Callkeep: 3.0.8
    - React Native: 0.61.5
    - iOS: 10.2.1
    - Android:
    - Phone model:

## Logs

[code]

[2019-12-16 14:13] Daneng66 commented on #119
@garronej Could you post an example?

[2019-12-17 06:56] garronej commented on #119
Sure,
It involves a stupid amount of boiler plate for such a simple task though.
And note that I opted for an implementation slightly different from the one I describe in my
previous comment.

``android/app/src/main/java/[your_path]/EndlessPhonyTaskService.java``

[code]

Put in your AndroidManifest.xml:

[code]

in your ```index.android.js``` add:

[code]

see https://facebook.github.io/react-nat

[2019-12-18 10:20] danjenkins opened #140 "Is it possible to know if there are any other calls active on connection service / callkit?"
More of  a question than an issue. Is it possible to ask connection service/callkit if there are other calls active? IE after a call has ended I want to return the audio session to a non call state (ie no call slider on volume on android) but only want to do that IF we're not on a cellular/other app's call

[2019-12-25 09:21] danghung24031992 opened #141 "package android.support.annotation does not exist"
I try import to my project but android compile error . Pls fix

[2020-01-02 17:36] kylekurz commented on #140
I don't think there's an API for this on iOS, it's sort of anathema to the whole privacy outlook of the platform. You only need to know about your own calls, as far as Apple is concerned. That said, when all your calls are done, you can request an active audio session with the OS for playback and if there are other calls or apps playing uninterruptible audio at that time, the request will be denie

[2020-01-03 18:00] ehp006 commented on #16
@bmp123 ,
What did you change to fix the issue for you ?

[2020-01-06 15:42] ielonclesio opened #142 "StartCall Not Open"
# Bug report

- [ X ] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [ ] Android
 - [ X ] iOS

## Description
RNCallKeep.startCall (...) is not opening in iOS 10.3, you can verify that the device is on but the phone screen does not appear.

## Steps to Reproduce

## Versions
    - Callkeep: 3

[2020-01-10 06:06] bmp123 opened #143 "[IOS] Js code paused if proximity sensor closed"
hello, I have a problem. If proximity sensor close fast - js code paused. Is it possible do some thing when proximity sensor close fast and screen go off? I use react-native-background-timer to work in background but it not help.

## Versions
    - Callkeep: "^3.0.8"
    - React Native: "0.61.5"

[2020-01-12 20:39] Prussich commented on #143
You need to patch RN module RCTTiming.m:
[code]
instead
[code]
it works for me.

[2020-01-13 06:35] iKronyck commented on #141
Try this, it worked for me https://github.com/facebook/react-native-fbsdk/issues/567#issuecomment-503917961

[2020-01-13 09:52] danjenkins commented on #141
Yes this is because you're using react native 60 or above which uses AndroidX. Callkeep as a module doesn't use AndroidX yet. You can use a module called [jetifier](https://www.npmjs.com/package/jetifier) to fix the paths dynamically. if you're using `react-native run-android` it should be doing this automatically for you - have a read of the jetifier docs and it'll tell you everything you need to

[2020-01-13 09:52] #141 closed

[2020-01-13 09:55] danjenkins commented on #139
Is that your actual code you've added into appdelegate?

[2020-01-13 09:55] danjenkins commented on #142
Can you give us some more code to show what you're actually doing when calling startCall? Some iOS logs? This doesn't give anywhere near enough detail for us to be able to help you

[2020-01-13 10:03] danjenkins commented on #140
Yeah I think essentially I have to treat each call separately and rely on the audioSession starting and stopping on ios. Although I don't think I'm seeing any issues on ios as such - its only on android where the phone remains in a IN_CALL state for the global audio session which then causes problems for when that device then connects to a car for example

[2020-01-13 10:03] danjenkins commented on #140
For now I'll close this

[2020-01-13 10:03] #140 closed

[2020-01-13 10:04] danjenkins commented on #138
Can you provide some logs? Without that there's not much we can do for you.

[2020-01-13 10:05] danjenkins commented on #136
@jbroquist could you maybe submit a PR with this change?

[2020-01-13 10:13] danjenkins commented on #120
For now, this has been resolved - there are some extra "reasons" on android but they don't sync well between the two platforms. if you want greater control at some point you'll need to figure out how to do that in a way that works between the two platforms

[2020-01-13 10:13] #120 closed

[2020-01-13 13:40] #130 closed

[2020-01-16 11:13] 28harishkumar opened #146 "invalid index.d.ts for typescript typings"
Typings for `interface IOptions` is wrong in [following line](https://github.com/react-native-webrtc/react-native-callkeep/blob/db30f1088054d92ff33d974f15767b2118696a2a/index.d.ts#L20).

It must be
[code]

`false, '1' and '1' ` are values not types. Also according to [setup](https://github.com/react-native-webrtc/react-native-callkeep#setup) these fields are options.

Seems like [this minor update

[2020-01-16 11:25] danjenkins commented on #146
Hey @28harishkumar - thanks for this but theres already another issue for this over at #121

Maybe you could do a Pull Request to fix it?

[2020-01-16 11:25] #146 closed

[2020-01-16 16:20] grit96 opened #148 "Delay in reportNewIncomingCall triggering didDisplayIncomingCall"
Somewhat related to #107

When following the instructions in the README to adjust `didReceiveIncomingPushWithPayload` for iOS 13 changes, I've encountered a timing issue with how `didDisplayIncomingCall` is triggered.

In my `VoipPushNotification` handler for `NewCall` notifications I resolve the contact name before using `RNCallKeep.displayIncomingCall()`.

With the new changes I am reporting the

[2020-01-16 17:02] danjenkins commented on #148
@grit96 I ended up creating a UUID server side and send it in the push, and then I can pass that into callkit and then use it when the app loads from the Push. It feels like a giant mess with timings potentially broken etc etc, what about if your user accepts the call before the app is awake enough to do anything about it, what if the phone call was cancelled or answered elsewhere but your app is

[2020-01-20 15:02] saadkhan6670 opened #150 "Unable to open display UI screen on incoming call"
# Bug report

- [x] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

yes i have checked this but no luck

## Description

i have just installed your library and tried this code snippet.

![image](https://user-images.githubusercontent.com/6495045/72736461-90a8df00-3bbf-11ea-9993-4f2b89a1510b.png)

but its returning

[2020-01-23 14:52] hmharshit commented on #91
You can use this command to view the logs
`react-native log-android`

[2020-01-27 10:16] elbow opened #152 "Crash: java.lang.IllegalStateException: Tried to start task RNCallKeepBackgroundMessage while in foreground, but this is not allowed."
[code]

@danjenkins says he will look at this.

[2020-01-29 14:58] thanglyphan opened #153 "Testing with appium"
Is anyone using this library with Appium? If so, how do i test the library by using Appium?

[2020-02-03 07:04] lan0105 opened #154 "Unable display incoming call on Android when background and foreground"
<img width="717" alt="Screen Shot 2020-02-03 at 2 04 02 PM" src="https://user-images.githubusercontent.com/22522300/73632374-1af84500-468e-11ea-9189-a60332ab1eed.png">
# Bug report

- [ ] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [ ] Android
 - [ ] iOS

## Description

## Steps to Reprod

[2020-02-04 09:44] NickMendes commented on #95
@rohitvc Hello, how are you able to start your app from headlessJS ?

[2020-02-04 10:36] konradkierus commented on #107
For anyone interested - please check my proof of concept to solve this issue
https://github.com/softwarehutpl/react-native-callkeep/commit/b7df3b4863f1bcefd8fd89fcdaf7bcd10dff207e

The idea is to gather events which should be sent through JS bridge if it isn't ready. Once JS part is ready then send didLoadWithEvents with all gathered events.
Next, on JS part, events needs to be handled depending o

[2020-02-04 18:24] NickMendes commented on #95
Ive managed to solve our problem which was caused by "setTimeout" like @rohitvc referenced.

[2020-02-04 20:53] florindumitru commented on #95
@NickMendes How did you manage to launch the app from headlessJS ?

[2020-02-04 22:59] yannickmodahgouez commented on #104
How did you fix it ?

[2020-02-06 02:31] kumarutsav111 commented on #136
Use something similar to this:
 zoomId = data.data.providerMeetingId;
        name = data.data.patientName;
        callUUID = uuid.v4();
        const handle = data.data.patientName;//'testemail@email.com';
        const localizedCallerName = data.data.patientName;//'testNickname';
        // const handleType = 'generic';
        const hasVideo = true;
        if (Platform.OS === 'android') {

[2020-02-06 05:41] gorshipaktsyan opened #155 "Can't display start call screen on"
# Bug report

- [x] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [ ] Android
 - [x] iOS

## Description
I see the Incoming call screen without problems. But when I answer a call, the start call screen (answerCall function in example, line 110) appears for half a second and disappears. On An

[2020-02-10 15:18] tiagocorreiaitcenter commented on #148
@danjenkins Hey, were you able to solve this in a more "stable" way? We are hitting the same wall as probably everyone using the package, can you provide some feedback of what you were able to achieve for the moment? Thanks

[2020-02-12 19:37] sanjaypojo commented on #43
Also looking for this feature! Are there any plans to support this?

[2020-02-13 17:25] Chaitanya-Suryadevara opened #156 "Facing the Issue With Reject Call On IOS 13 In Background Mode As App Is Crashing"
# Bug report
When Rejecting the Call On IOS

- Reproduced on:
 - [ ] iOS 13

## Description
When I get An Incoming VOIP Notification on IOS devices when App Is in Background mode, App Is Crashed Every time When I Reject the Notification. But Works Fine On Accept Call.
And Working Fine On Foreground Mode For Both Accept and reject.

## Steps to Reproduce
reject an Incoming call when app is in backg

[2020-02-13 19:00] manuquentin commented on #156
Hi !
The issue `Killing app because it never posted an incoming call to the system after receiving a PushKit VoIP push callback` means that you have to display the incoming call screen from callkeep directly when you receive an VOIP push.

Have you added [these lines](https://github.com/react-native-webrtc/react-native-callkeep#pushkit) from the doc ?

[2020-02-13 21:26] Chaitanya-Suryadevara commented on #156
Thank You For the Quick Response I have added the Lines In Appdelegate.m
File
Please refer This Added File
I am Not Sure Why This Is Happening When Only Rejecting the Call

-(*void*)pushRegistry:(PKPushRegistry *)registry
didReceiveIncomingPushWithPayload:(PKPushPayload *)payload forType:(
PKPushType)type withCompletionHandler:(*void* (^)(*void*))completion

{

  [RNVoipPushNotificationManager did

[2020-02-14 14:50] manuquentin commented on #156
I don't really understand, since you added these lines, do you still have the `Killing app because it never posted an incoming call` error ?

What's the error when you reject you call ?

[2020-02-14 16:48] Chaitanya-Suryadevara commented on #156
Hi Emmanuel,
I am getting this Exception and an Error From Xcode Log,

*2020-02-10 16:32:35.163972-0500 555 Phone RN[2217:708351] Apps receving
VoIP pushes must post an incoming call (via CallKit or
IncomingCallNotifications) in the same run loop as
pushRegistry:didReceiveIncomingPushWithPayload:forType:[withCompletionHandler:]
without delay.*

*2020-02-10 16:32:35.164054-0500 555 Phone RN[2217:70

[2020-02-17 21:29] KuroNoShinygami opened #157 "null is not an object (evaluating 'RNCallKeepModule.displayIncomingCall')"
When I try to run the sample code in an expo project, it shows the error: "null is not an object (evaluating 'RNCallKeepModule.displayIncomingCall')".

And also when trying to run the APK version on my phone, the application closes on its own after pressing the "Display incoming call now" button.

- I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/blob/master

[2020-02-27 17:26] rcidt opened #159 "Why is `completion` never called when reporting new incoming call on ios?"
I am getting reports from some iOS users that incoming calls stop coming in after a few days.

I am thinking this is because iOS is blocking the VoIP notifications because for some reason the incoming calls are not being reported to the system.

I think it might have to do with the fact that CallKeep never calls the completion handler when reporting the new incoming call to ios here:

[code]

Is t

[2020-02-27 18:15] #159 closed

[2020-02-27 18:31] danjenkins commented on #159
@rcidt what conclusion did you come to?

[2020-02-28 07:04] LiyaJohn21 opened #160 "call answer listener of react native call keep execute multiple times"
# Bug report

answerCall event is calling multiple time

- [ ] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [ ] Android
 - [ ] iOS

## Description
I have used ` RNCallKeep.addEventListener('answerCall', this.onAnswerCallAction)`; inside an if condition in the `onNotification `function. when

[2020-02-28 10:50] abahrisd commented on #160
When you removing event listener you should pass handler function.
Try this
`RNCallKeep.removeEventListener("onAnswerCallAction", this.onAnswerCallAction);`

[2020-02-29 01:57] mariouzae commented on #99
I solve this issue putting the icon on the iOS project root folder and set the imageName without the full path. Example:

`ios: {
        appName: 'X',
        supportsVideo: false,
        imageName: 'x.png',
      },`

[2020-03-05 03:14] Praxey opened #162 "Cannot signal callkit call rejection while woke from background (IOS)"
I have a voip video calling app.

I am using Callkeep exclusively for IOS, to access IOS callkit.

I have a component that listens to both onRNCallKeepPerformAnswerCallAction and onRNCallKeepPerformEndCallAction. In both cases it will send a message back to the server to update the database about the status of the call - answered or rejected, respectively.

With app in foreground there is no probl

[2020-03-06 20:44] rcidt commented on #156
I also see this error `_terminateAppIfThereAreUnhandledVoipPushes` in crash logs in production.

As far as I know, I have implemented CallKeep just as the README states. I am wondering if CallKeep is getting hung up somewhere between the time the VoIP Push arrives and it displays the CallKit UI.

[2020-03-06 20:59] rcidt opened #163 "Seeing `_terminateAppIfThereAreUnhandledVoipPushes` errors in iOS crash logs"
# Bug report

- [x] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

## Description
Some users in production are reporting their calls stop arriving after a few days. They fix this by uninstalling/reinstalling the app.

I believe this is being caused by app not handling VoIP Push Notifications on time. According t

[2020-03-06 21:00] rcidt commented on #159
@danjenkins I closed this ticket because I realized the code change I was requesting is not valid.

The issue at hand is still happening, and I opened another issue for it here: https://github.com/react-native-webrtc/react-native-callkeep/issues/163

[2020-03-06 21:12] Chaitanya-Suryadevara commented on #156
@rcidt  Can You Explain Me How You Solve This Issue ?
This Issue is Happening Only When The User Rejects the Call and Not When the Remote User Disconnects the Call

[2020-03-10 18:13] manuquentin commented on #21
Ping @bmp123 did you manage to fix your issue with the example ?

[2020-03-10 18:14] manuquentin commented on #36
Hi @danjenkins, did the PR #36 fixes this issue ?

[2020-03-10 18:16] manuquentin commented on #36
Hi @danjenkins is this still an issue for you ?

[2020-03-10 18:18] manuquentin commented on #43
Hi @sanjaypojo @sunweiyang,
We do not plan to implement this in the short term.
You can make a PR and we can work on it.

[2020-03-10 18:23] manuquentin commented on #46
My bad, done in #165.

[2020-03-10 18:23] #46 closed

[2020-03-10 18:31] manuquentin commented on #67
Hi @danjenkins is this sill an issue ?

[2020-03-10 18:34] manuquentin commented on #70
Closed by #135

[2020-03-10 18:34] #70 closed

[2020-03-10 18:36] manuquentin commented on #115
Hi @bhuangy is this still an issue ?

[2020-03-10 18:37] danjenkins commented on #36
Yup - an enhancement still :)

[2020-03-10 18:38] danjenkins commented on #67
yup still needs done

[2020-03-10 18:41] manuquentin commented on #107
Thanks @konradkierus,
Can you make a PR with these changes ? I'll be happy to test the,.

[2020-03-10 19:09] manuquentin commented on #121
Fixed in #147

[2020-03-10 19:09] #121 closed

[2020-03-10 19:13] manuquentin commented on #119
Hi @danwhite-ad,
On Android, we've opted to use push every times the user receive a call.
If the app is killed or in background, it will start in headless mode (thanks to `react-native-firebase`) and if it's in background.

We choose this because after a certain amount a time in Background (10/15mn), Android will close all Websocket connection.

[2020-03-10 19:13] #119 closed

[2020-03-10 19:17] manuquentin commented on #136
Fixed in #166

[2020-03-10 19:20] manuquentin commented on #138
ping @Chaitanya-Suryadevara do you have logs ? Have you reproduced the issue with the project in the example folder ?

[2020-03-10 19:21] manuquentin commented on #139
ping @quangtrung2503. Have you checked the code in the example folder? Do you still have an issue with it ?

[2020-03-10 19:22] manuquentin commented on #143
@bmp123 does this resolve you issue ? I don't think it's a callkeep issue.

[2020-03-10 19:34] manuquentin commented on #148
Hi @tiagocorreiaitcenter,
We're dealing with the same issue (introduced by Apple...).
When receiving a push we create a uuid in the app and then map it with the number of the caller.

After that we're able to update the displayName or close the callkit call. It's not perfect but works in our case.
We've also added timers and promises to wait for the call for case when the user has answered or hung

[2020-03-10 19:35] manuquentin commented on #150
Hi @saadkhan6670, with what kind of phone are you testing this code ?
Have you a SIM card on this phone ? Can you provide more logs ?
Thanks

[2020-03-10 19:38] manuquentin commented on #152
Hi @elbow,
I think your issue is around [here](https://github.com/react-native-webrtc/react-native-callkeep/blob/master/android/src/main/java/io/wazo/callkeep/VoiceConnectionService.java#L162). The Android seems not able to see that your app is in foreground.

Can you provide some logs ?

[2020-03-10 19:41] manuquentin commented on #153
Hi @thanglyphan,
We use [Detox](https://github.com/wix/Detox) to test our app. We've also added a couple of `adb` command to navigate through Android settings to enable phone account or make call from the native app.

We're not able for now to test it on iOS due to the restriction from Apple to stick to the tested application. So when we test our app, we can put it in background to check if callki

[2020-03-10 19:44] manuquentin commented on #142
ping @ielonclesio can you provide some logs ?

[2020-03-10 19:47] manuquentin commented on #154
Hi @lan0105,
Can you be more details about this issue ? Do you have some logs ? Have you checked the example folder of this project ?

[2020-03-10 19:49] manuquentin commented on #155
Hi @gorshipaktsyan,
Can you give more details on this one ? What do you mean by `the function appears for half a second` ?
Thanks

[2020-03-10 19:52] manuquentin commented on #156
Hi @Chaitanya-Suryadevara by using the code in the README, you have to report the call as soon as possible to iOS. That's why iOS aborts the call.

Did the `reportNewIncomingCall:uuidNew ` is called in the Objective-C code ?

[2020-03-10 19:54] manuquentin commented on #157
Hi @KuroNoShinygami,
expo projects can't use third party libraries like `react-native-callkeep`, unless you [eject your project from expo](https://docs.expo.io/versions/latest/expokit/eject/#you-might-want-to-eject-if).

[2020-03-10 19:56] manuquentin commented on #160
Hi @LiyaJohn21 I thnik the you should call `removeListener('answerCall')` not `removeEventListener("onAnswerCallAction")` cf [doc](https://github.com/react-native-webrtc/react-native-callkeep#--answercall).

[2020-03-10 19:59] manuquentin commented on #162
Hi @Praxey do you have more iOS logs for this issue ? Maybe the app is killed because you [didn't report the call earlier](https://github.com/react-native-webrtc/react-native-callkeep#pushkit).

[2020-03-10 20:11] manuquentin commented on #163
Hi @rcidt do you have more details on this issue ?
Do you see something like `Killing app because it never posted an incoming call to the system after receiving a PushKit VoIP push callback.` in your logs ?

[2020-03-11 14:32] Chaitanya-Suryadevara commented on #156
Hi React-Native-Webrtc/React-Native-Callkeep
*Yes the* reportNewIncomingCall:uuidNew *is called when incoming call is
displayed *
*The Issue is Only with the Reject call (when I reject the Notification
When app is in background).*
*Basically Our Server Gives Two VOIP Push Notifications One for Notify and
the other for Cancel.*
*For Notify I am Directly reporting to CallKit but when user rejects th

[2020-03-11 17:36] zxcpoiu commented on #156
@Chaitanya-Suryadevara

It is because you only `reportNewIncomingCall`by condition where `type = "notify"`
But you send the second `VoIP Push` which has `type = "cancel"`, so it never go into `reportNewIncomingCall` block.

Apple forced us to invoke `reportNewIncomingCall` each time when you receive any single one Voip Push, and ASAP. Or the app will crash. ( even if you had currently displayed Ca

[2020-03-11 18:53] Chaitanya-Suryadevara commented on #156
Hi, Thank You for the quick response,
I am Invoking the  reportNewIncomingCall with the condition type notify and
I am Able to get the Incoming notification in background mode then accept
is working fine.
But my issue is with the reject when the app is in background mode,
So I have a Question Here Do I need to Send the Cancel VOIP also with a
condition type cancel and report to Call Kit ? In the n

[2020-03-11 19:38] zxcpoiu commented on #156
I think I already answered your qiestion above, use remote push instead of
voip push.

If you want to use voip push, you have to , should, must, to invoke
reportNewIncomingCall for each push, that's the rule from Apple, or your
app will crash.

There is nothing we can do.

People are forced to refactor and change the whole call handling logics, no
matter how beautiful the handling process they alr

[2020-03-11 19:50] zxcpoiu commented on #156
I bet there might be somewhere triggered sending `cancel` with voip push in your code. The easiest way to try is sending `cancel` using another APN push called `remote notification`.

And you can read the newly updated Readme on RnVoipPush for related info.

https://github.com/react-native-webrtc/react-native-voip-push-notification/blob/master/README.md#important-note

[2020-03-11 19:50] Chaitanya-Suryadevara commented on #156
Thank You Once again for your time !
That VOIP Push Coming from our Backend Server So How can Proceed in this
scenario with a silent push to the app ?
If You have any Idea Can You Explain ?

On Wed, Mar 11, 2020 at 3:38 PM zxcpoiu <notifications@github.com> wrote:

[2020-03-11 19:52] zxcpoiu commented on #156
Yes, just change your back-end.
Use remote push instead voip push, then try. This might be the simplest try.

[2020-03-11 19:54] Chaitanya-Suryadevara commented on #156
Thank You So Much for Your Help !

On Wed, Mar 11, 2020 at 3:52 PM zxcpoiu <notifications@github.com> wrote:

[2020-03-11 20:03] manuquentin commented on #156
@Chaitanya-Suryadevara can you close the issue if it's ok for you ?

[2020-03-11 20:29] Chaitanya-Suryadevara commented on #156
Can You Give me Some Time to solve this Issue
and Will Close this issue ASAP

Thanks & Regards

On Wed, Mar 11, 2020 at 4:03 PM Emmanuel Quentin <notifications@github.com>
wrote:

[2020-03-12 20:42] konradkierus commented on #107
@manuquentin sure, please check #169

[2020-03-16 02:24] shavavo commented on #105
How did you resolve this issue?

[2020-03-18 01:35] shavavo commented on #162
I'm having the same issue. The 'endCall' action works if the app is in foreground, but is not being called in JS if the app is killed/in background (the call is being reported in AppDelegate.m, the listeners are binded in index.js).

[2020-03-21 14:26] romreed commented on #162
On Android, I am getting the same issue.

[2020-03-24 10:11] muraterd opened #173 "In Android i can't display incoming call screen"
# Bug report

- [x] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
- [x] Android
- [ ] iOS

## Description

Hi, first of all thank you for this great library. I want to display incoming call screen on iOS and Android.
So i tried to do the code below in my home screen in componentDidMount method

[2020-03-25 03:37] lisa-nguyen-goldenowl commented on #162
I'm having the same issue. Platform iOS, in event 'endCall', I call API to reject the call, but it does not work when app in background/ kill app .

[2020-03-25 07:49] muraterd commented on #173
I think i have found the issue. I followed your android installation guide and there is no RECORD_AUDIO permission in the guide. When RECORD_AUDIO permission is not granted library doesn't ask phone account permission. When i put RECORD_AUDIO permission in the manifest everything worked.

Is there anything i am doing wrong here?

[2020-03-25 23:19] jayrenteria commented on #43
@sunweiyang did you ever find a solution for this? We are using almost exactly the same stack and looking to accomplish the exact same thing.

[2020-03-27 15:42] mariouzae commented on #107
I see sometimes the JS Bridge doesn't start after receive a VoIP PN. It receives the VoIP PN, I report the new incoming call but the app never starts. It seems the JS Bridge thread is paused until you take some action on the CallKit screen.

Even if I wait for a huge time, I don't see the app starting.

Does anyone have this issue too?

[2020-03-28 08:35] zxcpoiu commented on #107
@mariouzae

You can try NOT calling `completion()` first. If you marked `completion()` and you've see your js bridge worked, then you might encounter the similar issue.

https://github.com/react-native-webrtc/react-native-voip-push-notification/pull/52

This PR is a try which aims to solve `calling completion() too early to stop JS initialization` issue

[2020-03-28 23:50] filipenatanael opened #176 "How to deal with add call & merge?"
Is there any way to deal with the `add call` and `merge` button on call screen?

Could someone give some ideas please?

[2020-03-30 12:56] henriquejensen opened #177 "hasPhoneAccount returns false if microphone permission is off"
# Bug report

- Reproduced on:
 - [x] Android
 - [ ] iOS

## Description
I use hasPhoneAccount to check if the phone account is allowed, but if I turn off the microphone it will return false if microphone is off. Probably related with #150

## Steps to Reproduce
Turn off the microphone permission and call hasPhoneAccount

## Versions
    - Callkeep: 3.0.10
    - React Native: 0.59.10
    - Android

[2020-03-31 17:55] CMLCNL opened #178 "We cant buıld call-keep"
We already have a working webrtc application.
The application also has only video-chat.

We used connectycube for webRTC.

We want to use iOS call kit and Android connection service in this application, but we couldn't do it. Can you help us. Where do we have to start?

- Reproduced on:
 - [X] Android
 - [X] iOS

## Versions
    - Callkeep:
    - React Native: "0.61.5"
    - iOS:
    - Android:

[2020-03-31 20:38] djalmajr commented on #106
I'm also getting this error with the versions 3.0.11 and 3.0.12. With version 3.0.10 the error goes away.

![image](https://user-images.githubusercontent.com/1858147/78071299-a848d480-7373-11ea-9bdf-65dd574e1b8d.png)

However, with version 3.0.10, i got this error when sending a voip push notification:

![image](https://user-images.githubusercontent.com/1858147/78072616-cf080a80-7375-11ea-9c0e-d55

[2020-04-01 09:09] danjenkins commented on #178
@CMLCNL you're going to have to give us some more information if you want any support on this. What did you try? what failed? What did you add to your project? Currently Android doesn't support video - I have a branch elsewhere that has it partially supported but I haven't been able to get back to finishing it

[2020-04-01 18:24] CMLCNL commented on #178
I build for ios and android but now i have a problem. In android when app is foreground connection service is work but when app killed connection service not working.

[2020-04-02 17:16] jagould2012 opened #179 "PhoneAccount.isEnabled called on null object"
# Bug report

- [x ] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [x ] Android
 - [ ] iOS

## Description

https://github.com/react-native-webrtc/react-native-callkeep/commit/6c18fdf5c7f183d8befb960bf6e1f79a86c9e2e8

I think this still has an issue. `getPhoneAccount(handle)` can return null

[2020-04-02 17:18] jagould2012 commented on #179
As a work around, I'm using the `react-native-device-info` module to detect phones, but not a great solution as I think there may be devices that come back as `Handset` that still might cause this issue

[code]

[2020-04-05 15:40] CMLCNL commented on #178
I solved my problem on ios with voip and for android react native background messaging.

[2020-04-05 15:40] #178 closed

[2020-04-08 05:24] Vespen commented on #162
Hi, it happens because framework fulfills native CXActions in the moment when event is sent to JS. Instead CXActions should be fulfilled when action is actually handled. System thought that you have handled action and app is ready to be killed. So it is killed before your JS code is executed.

[2020-04-08 12:01] maximovicd opened #180 "Android > How is this supposed to work?"
# Bug report

- [x] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [x] Android
 - [ ] iOS

## Description
Now I'm aware that this might be a question for stack overflow, but I see that there are many people here struggling to use the library, only it seems that their English is not that good

[2020-04-09 11:38] zenkhas opened #181 "Video Button not working"
# Bug report

- [x] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [ ] iOS

## Description
The video button in Call UI does nothing, also I can't find any listener for it, do we have any plans to add support for this in future or there is something that I'm missing here?

I need to use it for

[2020-04-09 12:40] MustaphaGhlissi commented on #25
@7ameed , I am working in a project similar to Truecaller, so I am blocked on how to show the custom phone call ui which my app when receiving a call,

Does this lib do the job  ?

Can You help me please ?

Regards

[2020-04-09 14:20] NIyerAD opened #182 "Can't make or receive calls on Android"
Hi, I've been trying to get this package working on an Android project for some time now and I can't seem to make outbound calls or receive incoming calls even though it works completely fine on iOS. The `didReceiveStartCallAction` event fires on an outbound call which then continues to the native call UI screen but after a couple of seconds ends the call. On an incoming call the `didDisplayIncomi

[2020-04-14 15:55] danwhite-ipc opened #183 "iOS - No known class for method selector"
# Bug report

- [x] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [ ] Android
 - [ ] iOS

## Description
No known class method for selector 'reportNewIncomingCall:handle:handleType:hasVideo:localizedCallerName:fromPushKit:'

I know it is probably something I have missed, but I have followed

[2020-04-14 16:20] danwhite-ipc commented on #183
Works fine with v3.0.10

[2020-04-20 15:50] Punit-Vajpeyi commented on #183
I am facing the same issue.

[2020-04-20 17:08] Punit-Vajpeyi opened #184 "JSON value '0' of type NSNumber cannot be converted to NSString"
# Bug report

- [x] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [x] iOS

## Description

## Steps to Reproduce

const uuid = '0731961b-415b-44f3-a960-dd94ef3372fc';
      const handle = 'testemail@email.com';
      const localizedCallerName = 'testNickname';
      const handleType = 'email

[2020-04-20 17:42] CaptainJeff commented on #184
Its expecting a number and is getting a string instead. The only guess i have without doing much research is either handleType or hasVideo (false could be gettin converted to a string value of 0)

[2020-04-21 17:10] ThanhNghia944 opened #186 "parameter 'localizedName' cannot be nil'"
# Bug report
I use apn to push voip with the following content
  

--> in AppDelegate.m I have configured to receive data

-> When I get the message, I get the uuid, but I always get the error: parameter 'localizedName' cannot be nil '

- Reproduced on:
 - [ ] iOS

## Versions
    - Callkeep:"3.0.12",
    - React Native: "0.62.0",
    - iOS:13.3.1

[2020-04-21 17:56] #186 closed

[2020-04-22 16:33] tuanbm commented on #162
Hi @Vespen, do you have any idea to fix this? How to queue the event to send when a listener is added for it?

[2020-04-23 10:16] maximovicd commented on #180
So, after a bit of fiddling with this, I found the easiest way to make it work. Since I already handled calls in native FirebaseMessagingService, I decided to use heads up notification for starting up the app.

This is a notification with max priority, call category, and a FullScreenIntent. Android will automatically spin your app up if the phone is locked and will allow you to reach your incoming

[2020-04-23 10:16] #180 closed

[2020-04-23 10:44] datht-gh commented on #183
Yeah,  i resolved problem with include extra payload to this method:
` [RNCallKeep reportNewIncomingCall:uuid handle:handle handleType:@"generic" hasVideo:false localizedCallerName:callerName fromPushKit: YES payload:nil];`

Im my case **payload** is **nil** .
Document for this: https://github.com/react-native-webrtc/react-native-callkeep#pushkit

[2020-04-23 18:55] DrSchmurge opened #187 "Caller Name is ignored in StartCall, updateDisplay, displayIncomingCall"
# Bug report

- [] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [x] Android
 - [ ] iOS

## Description
Hello. Thanks for this great package.
I am making a SIP app. I set everything up and everything works as expected, except the ability to show contactIdentifier and localizedCallerName in S

[2020-04-27 12:17] egealpay opened #189 "Give permission without going Phone Accounts Screen"
# Bug report

- [x] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [ ] Android
 - [ ] iOS

## Description
When I click "OK" button in "This application needs to access your phone accounts" Alert, It navigates to Phone Accounts Screen where I need to give permission manually. Is there any way

[2020-04-27 13:27] shashankmeddo opened #190 "answerCall event not getting called on app killed state iOS"
Hi,

My app works fine on iOS when the app is in background or foreground ho ever
when app is in killed state then none of the event is getting called
I am mainly interested in
answerCall Event of RNCallKeep

[2020-04-27 13:27] shashankmeddo commented on #190
I also would like to know which method opens the app
when user answers the call

[2020-04-27 17:20] willnaoosmit commented on #186
Hey, you closed this issue, but how did you fixed it?

[2020-04-28 09:11] danjenkins commented on #190
How do you mean @shashankmeddo ? What are you using to start up the app? a push notification? a voip push? are you displaying the incoming call in native land due to the recent ios13 changes... you'll need t give us some more information for us to help you

[2020-04-28 09:13] danjenkins commented on #189
As far as I'm aware this isn't possible. we call the correct APIs and depending on the phone manufacturer you'll end up in a couple of different places. Some really helpfully put you into the calling accounts screen, others will put you in the screen before it and you have to tap on "calling accounts"

[2020-04-28 09:13] #189 closed

[2020-04-28 11:44] ochrstn commented on #190
If you are using react-native-voip-push-notification to start the app, this pull request helped me to fix the same issue: https://github.com/react-native-webrtc/react-native-voip-push-notification/pull/52

[2020-04-28 12:20] #136 closed

[2020-04-28 17:28] ankitmeddo commented on #190
@danjenkins So the case is -
App is in killed state and VOIP push arrives. So when I answered the call, it opens my application and I have added 'answerCall' eventListener in my App.js in which I am navigating user to a video call screen.
But when the app was in foreground or in active state, 'answerCall' event fired and it navigate to video screen but when the app was in killed state, that event

[2020-04-29 11:48] ThanhNghia944 commented on #186
hi @willnaoosmit  because I forgot to start at callkeep at the screen ^^

[2020-04-29 11:50] willnaoosmit commented on #186
Thank you @ThanhNghia944

[2020-04-30 23:57] CaptainJeff commented on #190
I'm having this same issue on android. Does anyone have any suggestions?

[2020-04-30 23:59] CaptainJeff commented on #162
@tuanbm did you happen to find a solution here?

[2020-05-03 14:30] gwendall opened #192 "use callkeep for incoming call UI only"
First, thanks for the great work !

I am building a chat app. I would like to use this library to "just" display the native incoming call UI, not handle the call itself through the phone call UI. If the recipient accepts a call, I would like her to be redirected to a specific page of the app. The audio / video of the call will be handled in the app itself via webrtc.

For now, what I have is the f

[2020-05-04 01:48] namnm opened #193 "Support video option on Android"
# Bug report
- [x] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [x] Android

## Description
Look like ConnectionService support video call, can we add support for it in this RN module?

[2020-05-04 20:08] willnaoosmit commented on #190
Same issue here on IOS 13.3, iphone 8 (Real device), react-native 0.65.1

When i open the app for the first time everything runs ok on the background.
When kill the app process, then re-run, he does'nt work on the background.

If i found an error code i will provide one.

[2020-05-04 20:15] willnaoosmit commented on #190
Maybe this is a error code related:

[code]

[2020-05-04 20:30] willnaoosmit opened #194 "Remove some buttons and add others."
It's there a way to remove the "Facetime" and the "Add" buttons on the IOS callscreen and put a "hold" button instead?

Thanks in advance!

[2020-05-05 04:09] hungtd97 commented on #190
Same issue but in my case displayincoming event is fired and show incoming screen, but when I press answer button nothing happen, answer event didn't be occuredtr

[2020-05-05 10:43] gwendall commented on #192
Ref to another issue about the exact same problem https://github.com/react-native-webrtc/react-native-callkeep/issues/43

[2020-05-05 16:37] rlema commented on #192
Same setup and I am having the same issues, except I am also missing the answer and reject buttons on the screen.

[2020-05-06 05:27] danjenkins commented on #192
This is just how it works with managed connection service on Android, and
how it works on iOS. If you want to change the behaviour on Android you'll
need self managed connection service which is not currently supported by
callkeep

On Tue, 5 May 2020, 17:38 rlema, <notifications@github.com> wrote:

[2020-05-06 06:17] danjenkins commented on #193
I've got partial support in a branch of you're interested

On Mon, 4 May 2020, 02:49 Nam Nguyen, <notifications@github.com> wrote:

[2020-05-06 07:12] namnm commented on #193
@danjenkins Which branch you mean?

[2020-05-06 07:13] danjenkins commented on #193
It's on the nimbleape GitHub org - currently on my phone will find it once I'm at my desk for you

[2020-05-06 07:31] namnm commented on #193
Thanks. I think this one: https://github.com/nimbleape/react-native-callkeep-1/tree/allow-non-numbers-and-android-video

I'll take a look. Although video option is not a critical requirement for us now, but soon or later we will need it.

[2020-05-06 10:35] gwendall commented on #192
Sounds good, thank you !

[2020-05-06 10:35] #192 closed

[2020-05-09 02:29] jtg-gg opened #195 "how to handle "end call" on ios when callkit is launched from voip push ?"
how to handle "end call" on ios when callkit is launched from voip push ?

when accepting the call, the app will be opened, hence we can handle accept call in javascript
but when call is rejected, the app never opened, at least I didn't see anything in my javascript logs
the reason for end call handler --> I need to tell the server the user has rejected the call

I was trying to implement the hand

[2020-05-09 02:39] ahmadworks commented on #195
You need to register event 'endCall' at the beginning of your app

Now if you get a call anytime and user ended the call it will fire this function _onRNCallKitPerformEndCallAction, here we know that call was ended by the user and you can tell the server that call ended.

[2020-05-09 04:31] jtg-gg commented on #195
Yes I already add the listener
But the problem is tha javascript part of the app is never executed when the app is killed and waken up by the voip pushkit notification

[2020-05-09 09:35] ahmadworks commented on #195
Are you sure that you successfully initialized callKit on app start?

Each time user start the app you should start call it and all listeners including the endCall listener at the top of the app before anything get loaded.

Even if app closed or killed from the ram, then received VOIP Push notification app will show callKit and start the app in background, now any action in callKit will trigger li

[2020-05-10 03:47] jtg-gg commented on #195
@ahmadworks thx for the pointers
you are right, technically the javascript should be loaded
it is just fail to load in my case, might be some ios permission issue

[2020-05-10 04:13] jtg-gg commented on #195
@ahmadworks actually loading the bundle takes up to 2 minutes
is there any tips to make this faster ? is there any setting in react-native to cache this bundle in the ios device, instead of loading it from the dev-server every-time the app start

[2020-05-10 04:16] ahmadworks commented on #195
I don’t know how you load it, but I don’t think that there is anything in the world that needs 2 minutes to load :D For me it takes melliseconds to load the callkeep library, then about 1.5-2 seconds to initialize the call and make the server ready for it.

[2020-05-12 11:29] pavanMude opened #196 "Wazos Server is mandatory to integrate react-native-callkeep on the app?"
So Sorry to ask this boredom questions:

I was amused to see the combination of react-native-callkeep with react-native-webrtc and how it display UI on incoming calls. I have couple of questions to ask, can someone help me out with my questions.

1. After Looking at the Wazo-demo code and example project, I was wondering that using wazos api, server is mandatory to integrate the same in our apps!?

[2020-05-12 11:33] sboily commented on #196
Hello, nope wazo is not mandatory to use callkeep, this is only an example.

[2020-05-12 11:37] pavanMude commented on #196
Thanks for turning back @sboily, There is a parameter for phone number that should be passed to displayincomingcall() to show UI, should we provide it or we can simply neglect it!?

[2020-05-12 11:45] sboily commented on #196
Have you check the doc on the README?

`RNCallKeep.displayIncomingCall(uuid, handle, localizedCallerName);
`
Handle is the phone number.

[2020-05-12 12:08] pavanMude commented on #196
Yea The handle is a phone number, Is this a mandatory param to pass ?!

[2020-05-13 19:56] willnaoosmit commented on #190
Does anybody have an update about this issue?Any help or something? I'm stuck on this problem :(

[2020-05-13 19:57] CaptainJeff commented on #190
@willnaoosmit nope. Still having the same issue. I only have it on older iphones though. Newer ones seem fine. I can't figure out why that is

[2020-05-13 20:59] willnaoosmit commented on #190
By "Older" you mean what iPhone versions?
I'm facing this issue on a real iPhone 8 device, and a iPhone 11 simulator, if I'm not wrong.

Also, taking advantage of you here, do you have a problem with the app doesn't working on foreground or background when installed by the App store itself?

I uploaded him using the app store and it simply doesn't work even the first time :(

[2020-05-13 21:02] CaptainJeff commented on #190
@willnaoosmit

So all of these were tested on real devices. It works fine on multiple iphone X's and iphone XR's (various iOS 13's) and then it works fine on the foreground for iPhone SE (13.3.1) / iPhone 7 (11.2.5) / iPhone 7 (12.4) but not the background

[2020-05-14 06:15] zxcpoiu commented on #190
Make sure:

* use voip push ( the formal way to bring your app alive for callkit actions )
* add the `answerCall` event on the very beginning of your app entry( eg: the top of index.js or app.js ), ASAP

Personally, I didn't face this issue ( `answerCall event not fired` issue  ), so I can not reproduce it to test something like #169

If you did the above and still have the same issue, give #169 a

[2020-05-14 06:27] zxcpoiu commented on #190
Also, you may try to invoke `completion()` later.
Choose one of the method below:

### Method 1 ( react-native-callkeep )
Use https://github.com/react-native-webrtc/react-native-callkeep/pull/191 to invoke `completion()` automatically on `native side` right after `reportNewIncomingCall` are done with it's job

### Method 2 ( react-native-voip-push-notification )

If you use RN voip push

You can u

[2020-05-14 16:38] CaptainJeff commented on #190
@zxcpoiu

Oh wow. The https://github.com/react-native-webrtc/react-native-callkeep/pull/191

Actually seemed to fix it!! Thanks so much for commenting that. We were almost ready to not support those phones

[2020-05-14 22:08] utiq opened #197 ""incoming call" screen specific time"
This is a question.
How can I do to set a time limit to a notification? For example,
- server sends VoIP push notification
- notification is received and callkeep shows a "incoming call" screen

How can I do to show the "incoming call" screen for only 15 seconds?

[2020-05-15 11:56] Eugenneer opened #198 "Cannot call the RNCallKeep.setup() method on the android."
Hello everybody. I’ve been trying to solve this problem for a long time. Tried all installation options.

# Bug report

- Android application crashes when calling RNCallKeep.setup(options)
- error: E/unknown:ReactNative: Exception in native call
    **java.lang.RuntimeException: Could not invoke RNCallKeep.setup**

- Reproduced on:
 - [x] Android

## Description
Everything works on ios.
Tried all

[2020-05-15 13:47] johnbrowe commented on #198
I have the same issue on a Lenovo Tablet

[2020-05-16 13:35] emech-en opened #199 "[Android] Build Fails"
# Bug report

- [x] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [x] Android
 - [ ] iOS

## Description
Android application build fails

# Steps to Reproduce
cd android & ./gradlew assembleDebug

## Versions
    - Callkeep: 3.0.13
    - React Native: 0.62.2
    - iOS:
    - Android:
    - P

[2020-05-16 14:00] emech-en commented on #199
This is for AndroidX. My problem solved by using:
[code]
instead of
[code]

check this [https://github.com/react-native-webrtc/react-native-callkeep/issues/141#issuecomment-573583025](comment)

[2020-05-16 14:01] #199 closed

[2020-05-16 15:53] #184 closed

[2020-05-17 20:53] CaptainJeff opened #200 "Display Name "Unknown" on LG devices"
# Bug report

- Reproduced on:
 - [ ] Android

## Description
I have tested the library on about 10 phone types and it works great however when I test on an LG the name that is displayed from `displayIncomingCall` is always "unknown". When I view the call logs I can see the proper name / email address but the full screen notification displays "Unknown". Again this is just on LG's I tested it on tw

[2020-05-18 12:39] CaptainJeff commented on #200
Note: I updated the G5 to Android 8.0 and i'm experiencing the same issue

[2020-05-18 13:41] CaptainJeff commented on #200
I finally figured this out

Other phone's allow an email to be displayed for "handle" but LG requires a phone number otherwise the entire incoming call display is "unknown". Its interesting all of the other phone types allow this

[2020-05-18 13:41] #200 closed

[2020-05-19 03:18] jpgarcia99 commented on #198
Same issue.  It works on iOS.  but :-( on Android

[2020-05-19 08:26] grit96 opened #201 "Changelog for releases"
Could we have a changelog or release notes for future releases?

It would help determine which semver change is needed for the release, and help developers test their apps with the update.

[2020-05-21 01:43] jraleman commented on #198
I am also having the same issue doing a clean installation with an empty react-native project.

It seems that the issue is located in this file:
- `node_modules/react-native-callkeep/android/src/main/java/io/wazo/callkeep/VoiceConnection.java`
- line 27: `import android.support.v4.content.LocalBroadcastManager;`

[2020-05-21 04:52] pavanMude opened #202 "RNCallKeep is not working on app background and Inactive States"
# Bug report

-  I've checked the(https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

## Description

I have implemented RNCallKeep features in such a way that when a push notification arrives, then it tries to display an incoming UI through `RNCallKeepDisplayIncomingUI()`. When the app is in foreground as per the logic If I click on answer bu

[2020-05-21 06:03] kotnor commented on #198
As a workaround try to add
implementation 'androidx.localbroadcastmanager:localbroadcastmanager:1.0.0'
in gradle dependency of this library

[2020-05-21 06:07] danjenkins commented on #198
Do you all use 'yarn react-native run-android` ? You need jettifier to
convert things to make it work on later versions of Android. It works
perfectly

On Thu, 21 May 2020, 07:03 Alexandr Mikhailov, <notifications@github.com>
wrote:

[2020-05-21 06:18] Eugenneer commented on #198
What a relief). It worked for me, thanks!

[2020-05-21 20:48] Arlen22 commented on #43
What would it take to do this? I don't understand what the difference is but the Android docs make it seem identical.

[2020-05-22 01:50] Arlen22 opened #203 "Android Studio Config"
What is the setup that devs use for developing this module. I open the android folder and it gives me a bunch of gradle errors. I'm trying to get intellisense to work properly.

[2020-05-22 12:38] Arlen22 commented on #16
-- StackOverflow: https://stackoverflow.com/a/49857261/258482

[2020-05-23 15:29] jeevan-jp commented on #198
@kotnor is there any other way coz above fix isn't working in my case.

[2020-05-23 23:41] isnifer commented on #202
Same here. Killed an app. Calling to this device — no reaction

[2020-05-28 07:21] #198 closed

[2020-05-28 17:45] archilo20 opened #204 "performAnswerCallAction and performEndCallAction not being triggered when answering/reject call from call kit"
# Bug report

- [x] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [ ] Android
 - [13.3.1 ] iOS

## Description
Hi I'm  able to display the incoming call screen with pushkit but as soon as I select an action  in Callkit screen, wether it is accept or decline, nothing happens and performAnswer

[2020-05-28 18:37] JustinBeBoy commented on #202
@isnifer
in the backgroundMessageHandler i setup Callkeep and display incomming call and after i call RNCallKeep.setCurrentCallActive(callUUID);  i can't recive event endcall when i pressButtom endcall in screen ui
can you tell me why and how i can catch event endcall?

[2020-05-29 13:10] archilo20 commented on #204
I figure my mistake.
Thanks

[2020-05-29 13:10] #204 closed

[2020-05-31 05:48] ratheeshramachandran commented on #195
Best way to keep it in App(entry component). Keep it outside component code

[2020-06-01 21:02] Chaitanya-Suryadevara opened #206 "DidReceiveOnStartcallAction Not working with v3.0.13 (Which was Working with v3.0.12)"
# Bug report

- Reproduced on:
 - [ ] iOS

## Description
when I press the Call Logs On Native caller Screen Listener is Not Invoking ! To make an Outgoing Call.

## Steps to Reproduce
Try to Make a Outgoing Call From IOS Native call Logs (Where the Our App Call Logs are saved)

## Versions
    - Callkeep: 3.0.13
    - React Native: 0.61.4
    - iOS: 13.5
    - Phone model: 11 Pro Max

[2020-06-02 10:57] grit96 commented on #206
I'm seeing the same issue. I tried on 3.0.12 and it works fine, but I can't see any obvious reason in the diff https://github.com/react-native-webrtc/react-native-callkeep/compare/3.0.12...3.0.13

[2020-06-02 11:10] grit96 commented on #206
I narrowed it down to #171 where the default `supportedHandleTypes` was changed from `CXHandleTypePhoneNumber` to `CXHandleTypeGeneric`, breaking the start call from recents action.

I've raised a PR to fix it in #207.

[2020-06-02 12:01] #206 closed

[2020-06-02 14:03] CaptainJeff commented on #187
What are you passing as the "number"

[2020-06-02 14:17] CaptainJeff opened #208 "Ability to hide calls from Android Call Log?"
Question:

I was wondering if there is an equivalent of **includesCallsInRecents** for Android. I don't want to include the call logs of my previous calls. For ios, the **includesCallsInRecents** works great but Android still appears.

Thanks

[2020-06-02 18:17] ksitko commented on #43
Has anyone worked on this problem at all? The major discrepancy between how android and ios handle this is a bit of a headache.

[2020-06-03 21:20] DrSchmurge commented on #187
I am passing a string, like "79012345678"

[2020-06-04 02:16] namnm opened #209 "Android: open app UI when user answer the call, instead of the native dialer phone"
Hi. Is it possible to open the app on Android when user press on answer call, like what we currently have on iOS?
Right now on Android, when user answer the call, the native dialer phone shows up. But for example, Skype/Messenger can show their app UI instead.

Thanks guys for the effort on this package.

[2020-06-04 02:24] sboily commented on #209
Hello, callkeep is a wrapper for connectionService and callkit so it's not intent to do what you want. You need to check incallService https://developer.android.com/reference/android/telecom/InCallService to do what you want. We discussed with @manuquentin to eventually extend the scope of this lib, but we do nothing for the moment about that.

[2020-06-04 02:26] sboily commented on #201
You right, it will be better for the other developers. @manuquentin can you add a Changelog for the futur release please? Thank you!

[2020-06-04 02:32] sboily commented on #193
@danjenkins how can we help you to finish this branch? We are currently working to integrate video calls in our application and we will work to integrate video on callkeep, but it will be probably better to work together to don't reinvented the wheel ;-) CC @manuquentin

[2020-06-04 02:50] sislovesmedotcom commented on #43
+1

[2020-06-04 08:16] danjenkins commented on #43
Theres a branch over at https://github.com/Telzio/react-native-callkeep/tree/feature-android-self-managed but its not documented at all, and hasn't been tested generally - if you wanted to help put some effort into documenting it, testing it, etc etc then I'm sure the devs at Telzio would love that

[2020-06-04 08:21] danjenkins commented on #193
@sboily I could move the branch over to this repo for starters?

For me, I think the main part thats missing is the VideoProvider class ? I think....

https://developer.android.com/reference/android/telecom/Connection.VideoProvider

But more than happy to move that branch over, or I can give you guys access into the nimble ape repo.

[2020-06-04 08:23] JustinBeBoy commented on #110
@jonastelzio can u write document for your repo https://github.com/Telzio/react-native-callkeep/tree/feature-android-self-managed i can't test it

[2020-06-04 08:25] danjenkins commented on #209
You can also call `backToForeground` when you know the call has been answered...... its not in the official readme but is available in the code.... not sure what ramifications are but I use it and it seems to do what I want in that scenario

[2020-06-04 08:27] jonastelzio commented on #110
@JustinBeBoy I'm unfortuantely tied up with other stuff at the moment, but over the summer I expect to be back on this and make a formal pull request for my branch - I just need to discuss something with the callkeep maintainers on how to handle some stuff that _must_ be handled different.

[2020-06-04 13:49] sboily commented on #193
@danjenkins yes i haven't any objections to do that. If it help people to contribute it, no worry.

[2020-06-04 15:52] manuquentin commented on #173
Hi @muraterd,
Have you tried to run the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) and reproduced your issue ?

[2020-06-04 15:54] manuquentin commented on #138
Closed due to inactivity.
Please reopen the issue with some logs if you still reproduce it.

[2020-06-04 15:54] #138 closed

[2020-06-04 15:55] manuquentin commented on #21
Closed due to inactivity.
Please reopen the issue with some logs if you still reproduce it.

[2020-06-04 15:55] #21 closed

[2020-06-04 15:55] #115 closed

[2020-06-04 15:56] manuquentin commented on #142
Closed due to inactivity.
Please reopen the issue with some logs if you still reproduce it.

[2020-06-04 15:57] manuquentin commented on #107
Should be fixed in #205

[2020-06-04 15:57] manuquentin commented on #139
Closed due to inactivity.
Please reopen the issue with some logs if you still reproduce it.

[2020-06-04 15:58] manuquentin commented on #143
Closed due to inactivity.
Please reopen the issue with some logs if you still reproduce it.

[2020-06-04 15:58] #143 closed

[2020-06-04 15:58] manuquentin commented on #148
@tiagocorreiaitcenter can we close this issue ?

[2020-06-04 15:59] manuquentin commented on #150
Closed due to inactivity.
Please reopen the issue with some logs if you still reproduce it.

[2020-06-04 15:59] #150 closed

[2020-06-04 16:00] manuquentin commented on #153
@thanglyphan can we close this issue ?

[2020-06-04 16:01] manuquentin commented on #152
Closed due to inactivity.
Please reopen the issue with some logs if you still reproduce it.

[2020-06-04 16:01] #152 closed

[2020-06-04 16:02] manuquentin commented on #155
Closed due to inactivity.
Please reopen the issue with some logs if you still reproduce it.

[2020-06-04 16:02] manuquentin commented on #156
@Chaitanya-Suryadevara can we close this issue now ?

[2020-06-04 16:02] manuquentin commented on #157
Closed due to inactivity.
Please reopen the issue with some logs if you still reproduce it.

[2020-06-04 16:03] manuquentin commented on #160
@abahrisd can we close this issue ?

[2020-06-04 16:04] #148 closed

[2020-06-04 16:07] manuquentin commented on #196
Yes @pavanMude the handle is mandatory for now as this library allow to display incoming calls.
We're dealing with a [non number here](https://github.com/react-native-webrtc/react-native-callkeep/compare/master...nimbleape:allow-non-numbers-and-android-video).

[2020-06-04 16:12] manuquentin commented on #202
Hi @JustinBeBoy, to receive an event when someone hangup via callkeep, you have to [register a listener](https://github.com/react-native-webrtc/react-native-callkeep/blob/master/example/App.js#L205)

[2020-06-04 16:14] manuquentin commented on #203
Hi @Arlen22
What kind of errors do you get ?

To develop this module, you can go to the example folder, install it and edit directly the code in `node_modules` then cherry pick you changes directly in the root folder.

[2020-06-04 16:38] utiq commented on #197
Thanks! @manuquentin , I think that will work

[2020-06-04 18:25] danjenkins commented on #152
This ended up being not handling the check if android was alive or dead

On Thu, 4 Jun 2020, 17:01 Emmanuel Quentin, <notifications@github.com>
wrote:

[2020-06-04 19:16] #156 closed

[2020-06-04 21:26] rph17 commented on #209
@danjenkins when the app is in the background the backToForeground is working perfectly, now when the app is dead as a criterion to be done for it to call the app to the foreground?

[2020-06-04 21:29] danjenkins commented on #209
You can't just bring it from dead to foreground unless you use the right notifications to do that (displaying a call using connection service is classed as that)

[2020-06-04 21:32] rph17 commented on #209
@danjenkins I am already listening to a notification on Android through firebase with the dead application behind a call call when receiving the desired direction to the application.

[2020-06-04 21:55] rph17 commented on #209
@danjenkins Error using backToForeground :
06-04 18:53:50.432  4509  4509 E unknown:ReactNative: Unable to launch redbox because react activity is not available, here is the error that redbox would've displayed: Attempt to invoke virtual method 'void android.app.Activity.startActivity(android.content.Intent)' on a null object reference

[2020-06-04 21:57] danjenkins commented on #209
Right - you can't do that from an app that hasn't started up react native yet....  I'm unsure what you're trying to achieve here? How to make the app open from a push? It requires user interaction from a notification or your app to be given permission to draw over other apps

[2020-06-04 22:00] rph17 commented on #209
I need that when he answers the call in the background the app starts

[2020-06-04 22:08] rph17 commented on #209
Or do you want the application to be open in the background?

[2020-06-05 02:30] JustinBeBoy commented on #202
@manuquentin
I registered all the events, when I test your example, I still get the endcall event, but when I process the notification in the background firebase, I don't get the endcall event when I click the end call button
i test in nexsus 5x
android 8.1
react native : 0.62

[2020-06-05 13:31] RomanSuvorov opened #211 "Display custom UI on call"
Hi, guys
I'm new to react-native and so I have a question:
how can i display my custom screen via calling by this module?
Something like what a Viber application does. Not the default screen with "confirm" and "cancel" buttons.

I use library react-native-webrtc for video|audio streaming (https://github.com/react-native-webrtc/react-native-webrtc). So when first user press call (to second user), I

[2020-06-05 15:08] muraterd commented on #173
Yes

[2020-06-07 22:34] maitzeth commented on #209
You should put this on the official documentation. I've lost like 5 hours for this method :(

[2020-06-08 08:33] teddyxfire commented on #162
Same issue:

1.) "Person 1" initiates the call
2.) "Person 2" declines the call
3.) I'm using [apollographql](https://www.apollographql.com/docs/) to communicate with the server. I'm trying to send the "endCall" signal to the server after "Person 2" declines the call, but it's not working.

[2020-06-08 13:11] nikesh8 opened #212 "When Phone is locked and Handle Call Notification"
I have issue when my phone is locked and any incoming call notification occurs it will show native call UI after accepting call but I have to redirect in application after accepting call from lock screen.
Current behaviour:
- > While device is locked and any incoming call occurs it will display incoming call default ui with accept slider in iOS and when I am accept call it will show default call U

[2020-06-08 20:23] rph17 commented on #212
Use in method accept RNCallKeep.backToForeground(); this open this application.

[2020-06-08 20:31] rph17 opened #213 "how do i make a voip request request on ios?"
how do i make a voip request request on ios? can someone help me, with an example of something like that?

[2020-06-08 20:35] sboily commented on #213
Have you read the doc and the example published on the README? All informations are in the README to use this library.

[2020-06-08 20:39] rph17 commented on #213
I read it, I already implemented it on Android when the application is dead, but I didn't find in the documentation how to make the call to ios voip by request

[2020-06-08 20:41] rph17 commented on #213
@sboily  i need to call the app when it is dead to make a call on ios.

[2020-06-08 20:42] danjenkins commented on #213
do you mean how to send a voip push?

[2020-06-08 20:43] rph17 commented on #213
@danjenkins  Yes.

[2020-06-08 20:44] danjenkins commented on #213
go read https://github.com/react-native-webrtc/react-native-voip-push-notification

[2020-06-08 20:44] #213 closed

[2020-06-08 22:34] rph17 commented on #213
@danjenkins I accessed this library and implemented it now, what I'm not able to understand is where I would trigger the push in the background to call the call can I do this fia fcm?

[2020-06-08 22:37] danjenkins commented on #213
You trigger the push from your server , no you can't use fcm, Google "apn VoIP push kit" and read the apple docs.

[2020-06-08 22:40] rph17 commented on #213
Right, I send a request to api.sandbox.push.apple.com:443 I will check how to set up this request, would you have an example of this request to help me?

[2020-06-09 01:56] yeo11200 opened #214 "android webview"
# Bug report

- [ v] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [ v] Android
 - [ ] iOS

## Description

## Steps to Reproduce

## Versions
    - Callkeep: 3.0.14
    - React Native: 0.61.5
    - iOS: 13
    - Android: 28
    - Phone model: iphone 11, samsung s11

## Logs

[code]

[2020-06-09 04:42] nikesh8 commented on #212
Thanks for your solution...
But If my device is password protected then Its not prompt me to unlock your device and also if I am unlock my phone it won't open app directly but its just hides that call UI...

[2020-06-09 08:35] danjenkins commented on #213
I'm sorry but I just dont have the time to hand hold through the process. There are many examples of what payload to send on apple's website.

[2020-06-09 08:36] danjenkins commented on #214
Your question is unclear. Can you please expand what you're asking? This module has nothing to do with web views

[2020-06-09 08:37] danjenkins commented on #212
Apple is on control of this. Not something this module can control

[2020-06-09 08:37] #212 closed

[2020-06-09 08:40] danjenkins commented on #211
You do this using connection manager self managed mode in android. Which isn't implemented in this module yet. Closing as its already covered in #43 - theres a branch in the community for enabling it... but its not documented etc.... you'd need to read up on how to use it within connection manager

[2020-06-09 08:40] #211 closed

[2020-06-09 08:40] #209 closed

[2020-06-09 08:42] danjenkins commented on #202
@JustinBeBoy can you explain what youre trying to do a bit clearer please? We can't help you unless you give us more information to go on

[2020-06-09 08:42] danjenkins commented on #201
Agreed its happening so closing

[2020-06-09 08:42] #201 closed

[2020-06-09 08:42] #197 closed

[2020-06-09 08:43] #196 closed

[2020-06-09 08:44] danjenkins commented on #195
Closing

[2020-06-09 08:44] #195 closed

[2020-06-09 08:45] danjenkins commented on #194
Hold comes from setting support for hold in the setup object on ios.

No there is no way to remove buttons

[2020-06-09 08:45] #194 closed

[2020-06-09 08:46] danjenkins commented on #190
Closing

[2020-06-09 08:46] #190 closed

[2020-06-09 08:49] danjenkins commented on #193
@sboily the code is now in branch react-native-webrtc/react-native-callkeep#allow-non-numbers-and-android-video , however it currently does multiple things... (it was a branch for a client that I'm not done with) - firstly - disables hold support (we need to be able to enable/disable this thorugh config options), enables support for the sip scheme, and does enough work for video support to work bu

[2020-06-09 08:50] #183 closed

[2020-06-09 08:51] danjenkins commented on #163
Recommend using the new completion handler code in #191

[2020-06-09 08:51] #163 closed

[2020-06-09 08:52] danjenkins commented on #107
A lot of work has gone into this now.... closing and if people still have large issues... then they should re-open a new issue

[2020-06-09 08:52] #107 closed

[2020-06-09 08:53] danjenkins commented on #160
Closing this

[2020-06-09 08:53] #160 closed

[2020-06-09 08:54] danjenkins commented on #176
On ios - you should listen for the hold event, you'll be told to hold the first call, and answer the second

[2020-06-09 08:54] #176 closed

[2020-06-09 08:55] danwhite-ipc commented on #107
Do you know when #205 is due to be merged?

[2020-06-09 08:59] nikesh8 commented on #212
@danjenkins In apple I have to open app while my device is locked because it will showing native call UI after accepting a call.
It works perfect when call accepting while device is unlocked.

Can you please help me out this problem?

Thanks in advance.

[2020-06-09 09:02] danjenkins commented on #107
@danwhite-ipc nope - have you tried running it and seeing if it helps solve your problem?

[2020-06-09 09:03] danjenkins commented on #212
What you're asking for is not possible. Of course the app is able to be shown when the device is unlocked.... why would you think you can show your app when the device is locked? In order to gain access to any apps (other than the native caller ui) you need to unlock the device yourself first

[2020-06-09 09:45] JustinBeBoy commented on #202
@danjenkins
code in file index.js:
`function HeadlessCheck({ isHeadless }) {
    if (isHeadless) {
        // App has been launched in the background by iOS, ignore
        return null;
    }

    return <App />;
}

registerMessing()

AppRegistry.registerComponent(appName, () => HeadlessCheck);`

this is my registerMessing function:

`export const registerMessing = () => {
    messaging().setBackg

[2020-06-09 13:56] sboily commented on #193
@danjenkins can you make this branch as a PR to discuss directly in the PR. And can you give us more information about the extra work needs you think?

[2020-06-09 14:02] sboily commented on #193
iOS video support #181

[2020-06-09 16:20] namnm opened #215 "ios13 voip push notification work around"
Hi

I wonder if we can have any other way to report to the system that there's is an incoming call but not by showing the incoming call?
The reason is that I have some kind of settings in async storage to determine if it should show the call or not based on the notification data. I already have the code to handle them in RN but I dont want to rewrite it again in the Objective C handler, even so, t

[2020-06-09 17:24] namnm commented on #209
@danjenkins As I understand, @rph17 was saying that if the phone is in background and not killed, then `backToForeground` will work. Otherwise if the phone is killed and receive a PN, `backToForeground` wont work.

So in short there no work around for this but only implement the `InCallService`?

[2020-06-11 09:06] pschill opened #217 "How can I run this lib locally"
Hey!

Sorry for a probably pretty dumb question.

I want to clone this repository and run the example project with the downloaded sources so I can make some smaller changes for a project I have.

I've tried numerous different things and everything gives me different kinds of errors.

I guess the approach should be something like changing the version of react-native-callkeep in package.json to "lin

[2020-06-11 09:20] danjenkins commented on #217
you need to clone it down, do a npm link or yarn link and then go into the
project youre building... and do a yarn link react-native-callkeep or npm
link react-native-callkeep

but in my experience... just change the code in your node_modules dir and
then copy them back into your cloned repo. the symlinks that are created
dont usually play well with metro bundler

On Thu, Jun 11, 2020 at 10:06 AM

[2020-06-11 09:46] pschill commented on #217
Hey Dan!

Thanks for your reply. Yeah I got tons of different problems using links, and I guess that working directly in the node_modules folder works, but sooner or later I need to be able to include this in my project so that is just pushing the problem to the future?

[2020-06-11 09:57] danjenkins commented on #217
Well you can install a node module from git. - `yarn add nimbleape/react-native-callkeep-1` for example.... so as long as you make your changes, make sure you copy them over to your git repo and commit them, you're good

[2020-06-11 10:11] pschill commented on #217
Perfect! Thank you Dan!

[2020-06-11 10:11] #217 closed

[2020-06-12 00:50] namnm commented on #215
Decided to use general push notification instead of voip

[2020-06-12 00:50] #215 closed

[2020-06-12 00:51] namnm commented on #209
@danjenkins Can you consider to reopen this issue, since @sboily mention that we could have this feature in the future?

[2020-06-12 06:39] danjenkins commented on #209
There's another issue for implementing self managed connection service. #43 from what I remember

[2020-06-15 14:26] willnaoosmit commented on #162
same here

[2020-06-16 22:34] maitzeth opened #218 "Hide Call-In Floating Bubble"
Hello, this is not a bug. I have a question about this bubble:

There is a way to hide this Floating bubble when a call is running?

![image](https://user-images.githubusercontent.com/8760358/84834652-4ad63280-b008-11ea-9f41-01440518cd67.png)

[2020-06-17 05:32] pavanMude opened #219 "Is there any logic to control Reminder when an Incoming call arrives !?"
# I wanted to control logic on click of Reminder toggle so that an user will be reminded his calls.

- [ ] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

Can I handle it !? If so what will be the flow !? Help will be highly appreciated.

[2020-06-17 05:36] danjenkins commented on #218
Nope

On Tue, 16 Jun 2020, 23:34 André Iván, <notifications@github.com> wrote:

[2020-06-17 12:46] alebagran commented on #193
Hi, is there any news on video call implementation?

[2020-06-17 13:58] CaptainJeff opened #220 "Hide prompt in dialer for outgoing calls"
# Bug report

- [ ] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
**Android**

## Description
When I go to make outgoing calls the dialer prompts my phone to ask which app I want to use to make the call. I want the default phone dialer to continue to make the calls and not be prompted. I only w

[2020-06-17 19:25] #218 closed

[2020-06-18 06:47] pavanMude commented on #202
@JustinBeBoy It is because that you are passing different `callUUID` to end call(). Remember you must pass same UUID on RNCallKeep DisplayUI (), which also be given in end call() as well. This will surely work.
[code]

[2020-06-19 17:36] pavanMude opened #222 "DisplayIncomingCall UI is not working in Android."
# Bug report

- [ ] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [ ] Android
 - [ ] iOS

## Description

I have integrated `RNCallKeep` as per the guidance specified in repo, It looks strange that it is able to show displayIncomingCallUI on iOS, however it seems to be not working in android

[2020-06-23 12:08] rph17 opened #224 "Android bug call background in release apk"
When calling the release call the app starts the call with an error in the app and ends the call.

# Bug report
- Reproduced on:
 - [X] Android
 - [ ] ion

index.js
[code]
## Logs
06-23 01:53:35.052  3717  3717 E .devicesecurit: Not starting debugger since process cannot load the jdwp agent.
06-23 01:53:35.240  3636  3693 E ReactNativeJS: TypeError: undefined is not an object (evaluating 'u()(c).t

[2020-06-23 12:53] manuquentin commented on #224
Hi,
As a quick reply, it could be `registerHeadlessTask` need a function that returns a Promise, which `RNCallKeep.displayIncomingCall` [doesn't](https://github.com/react-native-webrtc/react-native-callkeep/blob/e95288a28e36ebc7ec0fe60e3da8df0fc81487d2/index.js#L59).

I think you should do :
[code]

[2020-06-23 14:00] rph17 commented on #224
@manuquentin Thanks, problem resolved!

[2020-06-23 14:00] #224 closed

[2020-06-23 14:53] manuquentin commented on #201
Done [here](https://github.com/react-native-webrtc/react-native-callkeep/releases)

[2020-06-23 21:37] maitzeth opened #225 "Wake up app when answer IncomingCall"
# Bug report

- [x] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [x] Android
 - [ ] iOS

## Description
Hi there, this is not a bug or anything like that. Im a little bit new on ReactNative and I dont know if this is the right place to ask.
This is just a question about the behavior of Reac

[2020-06-24 09:40] jpudysz opened #226 "Additional improvements in headless mode"
Hello, I would like to create PR with additional improvements related to headless mode. Before I create PR please let me know if it's needed. My previous PR (#221 ) was left without any response so I'm trying to implement needed features on my fork and I can share them with community.

But let's go back to new improvements:
I took code from @manuquentin (#223) and added a few changes:
- I left old

[2020-06-24 14:15] manuquentin commented on #226
Hi @jpudysz,
I'll take a look at your PR soon.
For the backToForeground, I've merged a #223 that will open the app if the activity if not started.
I don't understand the use of `openAppFromHeadlessMode`. Is it when you don't have firebase and so not access to [setBackgroundMessageHandler](https://firebase.google.com/docs/cloud-messaging/js/receive) ?

[2020-06-24 14:25] jpudysz commented on #226
It's for the case when my Android app is killed (even with a locked screen).

Current behaviour:
- app receives FCM push and runs the headless task
- we can display CallKeep UI, handle call etc.

With my PR:
- app receives FCM push and runs the headless task
- CallKeep UI is visible
- on `answerCall` I'm opening my app (cold boot) from the headless task and the user is redirected to my call screen

[2020-06-24 21:03] maitzeth commented on #226
Hello, Im having a similar problem, but I dont know if my implementation is not good enough.

When I receive a call Push Notification from `setBackgroundMessageHandler` I attach all the event listeners  but the app doesnt not open when I answer the IncomingCall.

I tried to install `react-native-invoke-app` but I think is deprecated, cuz doesnt work on Android 9 and 10.

I dont know if my problem

[2020-06-25 00:38] manuquentin commented on #226
Hi @maitzeth,
I think you need [backToForeground](https://github.com/react-native-webrtc/react-native-callkeep#backtoforeground) on Android to open you app.

[2020-06-25 00:54] maitzeth commented on #226
Hello @manuquentin yes, I saw your last PR from yesterday.

This feature was needed. Thank you!

[2020-06-25 01:05] maitzeth commented on #226
Hello @manuquentin yes, I saw your last PR from yesterday.

This feature was needed. Thank you!

I have a little question: There is a way to open the app on `setBackgroundMessageHandler` from firebase listener instead of firing `backToForeground` on  `answerCall` listener?

[2020-06-25 14:14] #225 closed

[2020-06-25 14:17] manuquentin commented on #226
Hi @maitzeth,
Yes I see no reason that `backToForeground` will not work in `setBackgroundMessageHandler`

[2020-06-25 14:20] maitzeth opened #227 "backToForeground doesn't work on Android 10."
# Bug report

- [X] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [X] Android
 - [ ] iOS

## Description
Hello, I'm having a problem. Right know I'm testing the new method called `backToForeground`, it works perfectly on Android 7 and 8, but now Im testing on Android 9 (Emulated on Android S

[2020-06-25 15:00] maitzeth commented on #226
@manuquentin I've write an issue something in Android 9 and 10 in this https://github.com/react-native-webrtc/react-native-callkeep/issues/227#issue-645603593 do you have any idea about this?

[2020-06-25 19:35] fedebraintly commented on #227
Hi, there!

I'm having the same issue. Also, it isn't working on Android 10.

Any ideas?

Thanks!

[2020-06-25 22:27] stephanoparaskeva opened #228 "Not Working on IOS physical devices."
#### Explanation
Using two physical IOS devices and the wazo-react-native-demo I don't see CallKeep at all, despite calling the function with correct parameters and confirming that it gets called. The function still errors with incorrect arguments but does nothing with correct arguments.

**On the other hand, CallKeep works successfully on Android**

### Steps:

* Build project on phone 1 (in debu

[2020-06-26 01:19] sislovesmedotcom commented on #162
+1

[2020-06-26 07:00] stephanoparaskeva commented on #228
Closing as issue was partially resolved via adding this to info.plist
[code]

[2020-06-26 07:00] #228 closed

[2020-06-26 07:26] stephanoparaskeva opened #229 "CallKeep Not Keeping Call in IOS"
### Background:
##### I followed the `Wazo-React-Native-Demo` line by line.
##### The same thing occurs in react-native-callkeep demo

### Env:
* IOS
* React Native 0.62.2
* CallKeep 3.0.15

### Explanation
* Outgoing Calls display *No UI*
* Incoming calls *successfully* display UI
* Accept Incoming call makes Native Call UI *go to background*

### Goal
* I want to see Native UI when making Outgoi

[2020-06-26 21:12] stephanoparaskeva commented on #129
Is there any way to prevent this?

[2020-06-26 21:13] stephanoparaskeva commented on #142
This is still and issue in #229

[2020-06-26 21:16] stephanoparaskeva commented on #155
Still an issue in #229

[2020-06-27 12:55] stephanoparaskeva commented on #182
This is an issue for myself and I'm wondering why this has seen no attention?

[2020-06-29 11:17] shikhag2018 opened #230 "Error :ConnectionService not available for this version of Android"
# Bug report

- [ ] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [ ] Android
 - [ ] iOS

## Description

## Steps to Reproduce

## Versions
    - Callkeep:3.0.14
    - React Native:0.61.5
    - iOS:
    - Android:5.0.2
    - Phone model: vivo Y51l

## Logs

[code]

[2020-06-29 15:20] swiety85 opened #231 "Problematic hint about didActivateAudioSession event"
I had really hard time debugging issues regarding `didActivateAudioSession` event. I used it to play the ringback tune as it's suggested in the readme.md file. The problem is that in the case of unlocking the phone while an active video call the event is also fired. Since it tries to play a sound, for me it generates some native iOS errors that in the end crashes one of the streams in the active v

[2020-06-29 20:01] codetheweb opened #232 "Known Bug: setMutedCall not working on Android"
# Bug report

- [x] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
  - [x] Android
  - [ ] iOS

## Description

Calling the `setMutedCall` method on Android doesn't work. This is a [known bug](https://github.com/react-native-webrtc/react-native-callkeep/pull/64#discussion_r311819040), but I'm af

[2020-06-30 00:12] rph17 opened #233 "Not changed name in call ios"
When I'm calling on ios he doesn't change the name CallKeepDemo audio to "nomeapp", can someone help me?

The call:

RNCallKeep.displayIncomingCall(callUUID, number, "dr.consulta", 'number', false);

[2020-06-30 12:58] manuquentin commented on #227
Working fine here on a Pixel 1 with Android 10

[2020-06-30 20:42] maitzeth commented on #227
@manuquentin I managed to work adding this permission on the Manifest.

`<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>`

I was not able to make it work in Android 9 and 10

[2020-07-01 22:28] codetheweb commented on #227
@maitzeth thanks, that worked for me.

[2020-07-02 04:58] mmatheusmmiguel commented on #43
Has anyone managed to test this?

[2020-07-02 14:57] boygiandi commented on #186
Can you show me the code, please ?

[2020-07-03 00:55] luxiliu commented on #193
Hi @danjenkins , apart from VideoProvider, using own ui to display call also needs to be considered.

[2020-07-03 06:32] danjenkins commented on #193
@luxiliu there's already a feature request for it in the issues tracker. If you want to build the code and contribute it, the collaborators will get to it when any of us get time. Building real time Comms apps on native is incredibly complex and we all have day jobs. None of us build things and keep them private, they immediately go public. Have the common decency to read through the issues and se

[2020-07-03 06:35] danjenkins commented on #193
Nope... Otherwise there would have been a comment or a PR closing this......

Seriously, please start considering collaborators have lives and jobs before commenting asking for updates when if there was..... They would have already been posted here.

[2020-07-03 06:41] luxiliu commented on #193
@danjenkins , I think you misunderstood what I meant. I was not pushing you for a pr or a fix. I was just saying it is also an option, which need to consider just incase you're developing it.

Think before replying. Please.

[2020-07-03 06:55] danjenkins commented on #193
@luxiliu my point would be that if this gets done before that work (99% probably this way around) then that work would be done as part of that other PR.

[2020-07-03 09:24] luxiliu commented on #193
@danjenkins unfortunately, i didn't get ur point.

[2020-07-05 09:25] Myzel394 opened #236 "answerIncomingCall not working"
# Bug report

- [x] I've checked the [example](https://github.com/react-native-webrtc/react-native-callkeep/tree/master/example) to reproduce the issue.

- Reproduced on:
 - [x] Android
 - [ ] iOS

## Description
I'm trying to answer incoming calls on Android. I'm using [react-native-call-detection](https://github.com/priteshrnandgaonkar/react-native-call-detection) to detect incoming calls and [u

[2020-07-05 21:04] stephanoparaskeva commented on #227
Where is this to be added in the code, what file and what directory?

[2020-07-06 10:20] JJMoon commented on #162
The cause of this issue is, there is no time to clean up the canceling job.
The app goes background when you touch endCall button, and call kit call the `fulfill` method.
So, I solved issue with code below.

[code]

[2020-07-09 08:20] JJMoon commented on #162
You have time between CallKit end call button touch and end call action's full fill.

[code]

[2020-07-09 10:35] meliodev commented on #193
@danjenkins Thank you so much guys for your efforts and the great support you provide for the react native community. My respects !

[2020-07-09 17:07] meliodev commented on #193
Hey guys again, please I need a small help. I am using agora.io, and I am trying to build a video call functionality with ringing tone on android.
I used the example in the branch 'allow-non-numbers-and-android-video'. I used the function displayIncomingCall, but unfortunatelly, even after I set the parameter 'hasVideo' to true, I still get the UI of a voice call after the call is answered.
Can so

[2020-07-09 17:59] Arlen22 commented on #43
Apparently if you're a native app developer this stuff is all obvious, but to us Javascript junkies it's a completely different world.

[2020-07-10 00:15] luxiliu commented on #193
Either you need a VideoProvider or you need to implement your own UI for the video call.

[2020-07-10 00:29] meliodev commented on #193
@luxiliu I would like to use my own UI, but the issue is that I couldn't figure out how to configure the button 'answer call' to navigate to my own UI for video call. Please, do you have a solution for this ?

[2020-07-10 00:32] luxiliu commented on #193
Some of us are working on this PR https://github.com/react-native-webrtc/react-native-callkeep/pull/237. There's a newly added event `RNCallKeepPerformShowIncomingCallAction`. When receiving this event, you could show your own ui

[2020-07-10 00:56] meliodev commented on #193
Perfect !

[2020-07-10 02:41] namnm commented on #193
@luxiliu Just take a look as your PR and it's promising. There's something I want to ask, that if you tried the `backToForeground` method when app is killed?

I tested it like: if user click on answer button then call that method. And look like it works when app in background.
When app is killed and receive the notification, Im able to show the incoming call, but not able to open the app when clic

[2020-07-13 13:59] teddyxfire commented on #190
Hey guys!

If anyone comes across this issue and has already implemented the completionHandler from #191, make sure that you call `RNCallKeep.setup()` in your JS code as soon as possible.

In my case, I've moved the `RNCallKeep.setup()` to `index.js` and I'm registering Callkeep events (didDisplayIncomingCall, answerCall etc.) in `App.js`. Now it works perfectly.

If you call `RNCallKeep.setup()`

[2020-07-14 09:35] NIyerAD commented on #182
So I finally managed to solve this. Luckily [this guy](https://react-native-webrtc.discourse.group/t/issues-following-upgrade-to-1-75-1-solved/350) had the same issue. Turns out that Android doesn't necessarily like `advanced` audio constraints so if you're still having problems with this then check your audio constraints that you apply to `getUserMedia()`. If the constraints have 'advanced' optio